﻿@model Fanatics.HotMarketSender.Models.ScheduleViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/Modules/Fanatics.HotmarketSender/img/favicon.ico" rel="icon"></link>
    <title>Fanatics Hot Market Sender</title>
    <script data-main="/Modules/Fanatics.HotmarketSender/Scripts/app.js" src="/Modules/Fanatics.HotmarketSender/Scripts/vendor/require/require.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Modules/Fanatics.HotmarketSender/Styles/fuelux.min.css">
    <link rel="stylesheet" href="/Modules/Fanatics.HotmarketSender/Styles/main.css">
</head>
<body class="fuelux">
    <!-- navbar -->
    <nav class="navbar navbar-default navbar-static-top fanatics-nav">
        <div class="container-fluid">
            <a class="brand" href="/">
                <img src="/Modules/Fanatics.HotmarketSender/img/logo.png" width="220" alt="Hot Market Sender">
            </a>
            <div id="navbar" class="navbar-collapse collapse">
            </div>
        </div>
        <div class="red-bar"></div>
    </nav>
    <!-- Main container -->
    <div class="container-fluid">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="/hotmarketsender">Home</a></li>
            <li class="active">Create/Edit Schedule</li>
        </ol>
        <!--/ Breadcrumb -->
        <!-- Content -->
        <div class="row">
            <div class="col-md-12">
                <!--main content-->
                <div class="form">
                    <!-- League -->
                    <div class="form-group">
                        <label for="league">League</label>
                        <select class="form-control" id="league">
                            <option value="">Please Select</option>
                            <option value="nfl" data-gameoffset="192">NFL</option>
                            <option value="ncaafb" data-gameoffset="210">NCAA Football</option>
                         </select>
                    </div>
                    <!--/ League -->
                    <!-- week -->
                    <div class="form-group" id="week-panel" style="display:none;">
                        <label for="week">Week</label>
                        <div id="week"></div>
                        <script id="week-template" type="text/x-handlebars-template">
                            <select class="form-control">
                                <option value="">Please Select</option>
                                {{#each weeks}}
                                <option value="{{inc @@index}}">{{inc @@index}}</option>
                                {{/each}}
                            </select>
                        </script>
                    </div>
                    <!--/ week -->
                    <!-- Game -->
                    <div class="form-group" id="game-panel" style="display:none;">
                        <label for="game">Game</label>
                        <div id="game"></div>
                        <script id="game-template" type="text/x-handlebars-template">
                            <select class="form-control">
                                <option value="">Please Select</option>
                                {{#if nflgames}}
                                    {{#each nflgames}}
                                    <option value="{{id}}" class="game" data-home="{{home.alias}}" data-away="{{away.alias}}" data-scheduled="{{scheduled}}">{{home.name}} - {{away.name}}</option>
                                    {{/each}}
                                {{/if}}
                                {{#if ncaafbgames}}
                                    {{#each ncaafbgames}}
                                    <option value="{{id}}" class="game" data-home="{{home}}" data-away="{{away}}"  data-scheduled="{{scheduled}}">{{home}} - {{away}}</option>
                                    {{/each}}
                                {{/if}}
                            </select>
                        </script>
                    </div>
                    <!--/ Game -->
                    <!-- Business Unit -->
                    <div class="form-group" id="bu-panel" style="display:none;">
                        <label for="business-units">Business Unit</label>
                        <div id="business-units"></div>
                        <script id="business-units-template" type="text/x-handlebars-template">
                            {{#each bu}}
                            <div class="checkbox" id="{{MID}}" data-name="{{Name}}">
                                <label class="checkbox-custom" data-initialize="checkbox">
                                    <input class="sr-only chk-bu" type="checkbox" value="{{MID}}" data-name="{{Name}}" {{#if IsNew}}data-isnew="true"{{else}}data-isnew="false"{{/if}} />
                                    <span class="checkbox-label">{{Name}}</span>
                                </label>
                            </div>
                            {{/each}}
                        </script>
                    </div>
                    <!--/ Business Unit -->
                    <!-- Business Unit configuration -->
                    <div class="form-group">
                        <div id="bu-config"></div>
                        <script id="bu-config-template" type="text/x-handlebars-template">
                            <div class="well" id="bu-{{MID}}">
                                <h4>{{buName}} Configuration</h4>
                                <label for="home">{{home}} UI Send:</label>
                                <input type="text" class="home form-control" /><br/>
                                <label for="home">{{away}} UI Send:</label>
                                <input type="text" class="away form-control" />
                            </div>
                        </script>
                    </div>
                    <!--/ Business Unit configuration-->
                    <!-- Submit and cancel buttons -->
                    <div class="form-group">
                        <button id="btn-save" type="button" class="btn btn-primary" data-loading-text="Saving...">Save</button>
                        <a id="btn-cancel" type="button" class="btn btn-danger" href="/hotmarketsender">Cancel</a>
                    </div>
                    <!--/ Submit and cancel buttons-->
                    <!--/ main content -->
                    </div>
        </div>
            </div>
        <!--/ Content -->
    </div>
    <!-- Modal -->
    <div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="message-modal-content">
            </div>
            <script id="message-modal-template" type="text/x-handlebars-template">
                <div class="modal-header">
                    {{# if readonly }}
                    {{else}}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{/if}}
                    <h4 class="modal-title">{{title}}</h4>
                </div>
                <div class="modal-body">
                    <p>{{{message}}}</p>
                </div>
                <div class="modal-footer">
                    {{# if readonly }}
                    {{else}}
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    {{/if}}
                </div>
            </script>
        </div>
    </div>
    <!--/ Modal -->
    <script type="text/javascript">
        var antiForgeryToken = '@Html.AntiForgeryTokenValueOrchard()';
        var gameID = '@HttpUtility.JavaScriptStringEncode(Url.RequestContext.RouteData.Values["gameID"] == null ? "" : Url.RequestContext.RouteData.Values["gameID"].ToString())';
        var scheduleModel = @Html.Raw(Json.Encode(Model));
        requirejs(["schedule"]);
    </script>
</body>
</html>
