﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/Modules/Fanatics.HotmarketSender/img/favicon.ico" rel="icon"></link>
    <title>Fanatics Hot Market Sender</title>
    <script data-main="/Modules/Fanatics.HotmarketSender/Scripts/app.js" src="/Modules/Fanatics.HotmarketSender/Scripts/vendor/require/require.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Modules/Fanatics.HotmarketSender/Styles/fuelux.min.css">
    <link rel="stylesheet" href="/Modules/Fanatics.HotmarketSender/Styles/main.css">
</head>
<body class="fuelux">
    <!-- navbar -->
    <nav class="navbar navbar-default navbar-static-top fanatics-nav">
        <div class="container-fluid">
            <a class="brand" href="/">
                <img src="/Modules/Fanatics.HotmarketSender/img/logo.png" width="220" alt="Hot Market Sender">
            </a>
            <div id="navbar" class="navbar-collapse collapse">
            </div>
        </div>
        <div class="red-bar"></div>
    </nav>
    <!-- Main container -->
    <div class="container-fluid">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="/hotmarketsender">Home</a></li>
        </ol>
        <!--/ Breadcrumb -->
        <!-- Content -->
        <div class="row bottom-buffer">
            <div class="col-md-12 ">
                <a class="btn btn-primary" href="/hotmarketsender/create">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;New Schedule
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--main content-->
                <div class="repeater" id="main-grid">
                    <div class="repeater-header">
                        <div class="repeater-header-left">
                            <div class="repeater-search">
                                <div class="search input-group">
                                    <input type="search" class="form-control" placeholder="Search" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <span class="glyphicon glyphicon-search"></span>
                                            <span class="sr-only">Search</span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="repeater-viewport">
                        <div class="repeater-canvas"></div>
                        <div class="loader repeater-loader"></div>
                    </div>
                    <div class="repeater-footer">
                        <div class="repeater-footer-left">
                            <div class="repeater-itemization">
                                <span><span class="repeater-start"></span>- <span class="repeater-end"></span>of <span class="repeater-count"></span>items</span>
                                <div class="btn-group selectlist" data-resize="auto">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="selected-label">&nbsp;</span>
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li data-value="5"><a href="#">5</a></li>
                                        <li data-value="10" data-selected="true"><a href="#">10</a></li>
                                        <li data-value="20"><a href="#">20</a></li>
                                        <li data-value="50" data-foo="bar" data-fizz="buzz"><a href="#">50</a></li>
                                        <li data-value="100"><a href="#">100</a></li>
                                    </ul>
                                    <input class="hidden hidden-field" name="itemsPerPage" readonly="readonly" aria-hidden="true" type="text" />
                                </div>
                                <span>Per Page</span>
                            </div>
                        </div>
                        <div class="repeater-footer-right">
                            <div class="repeater-pagination">
                                <button type="button" class="btn btn-default btn-sm repeater-prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Previous Page</span>
                                </button>
                                <label class="page-label" id="myPageLabel">Page</label>
                                <div class="repeater-primaryPaging active">
                                    <div class="input-group input-append dropdown combobox">
                                        <input type="text" class="form-control" aria-labelledby="myPageLabel">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right"></ul>
                                        </div>
                                    </div>
                                </div>
                                <input type="text" class="form-control repeater-secondaryPaging" aria-labelledby="myPageLabel">
                                <span>of <span class="repeater-pages"></span></span>
                                <button type="button" class="btn btn-default btn-sm repeater-next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Next Page</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ main content-->
            </div>
        </div>
        <!--/ Content -->
    </div>
    <!-- Modal -->
    <div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="message-modal-content">
            </div>
            <script id="message-modal-template" type="text/x-handlebars-template">
                <div class="modal-header">
                    {{# if readonly }}
                    {{else}}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{/if}}
                    <h4 class="modal-title">{{title}}</h4>
                </div>
                <div class="modal-body">
                    <p>{{{message}}}</p>
                </div>
                <div class="modal-footer">
                    {{# if readonly }}
                    {{else}}
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    {{/if}}
                </div>
            </script>
        </div>
    </div>
    <!--/ Modal -->
    <script type="text/javascript">
       var antiForgeryToken = '@Html.AntiForgeryTokenValueOrchard()';
        requirejs(["schedule-index"]);
    </script>
</body>
</html>
