﻿@model Fanatics.HotMarketSender.Models.ScheduledSends
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/Modules/Fanatics.HotmarketSender/img/favicon.ico" rel="icon"></link>
    <title>Fanatics Hot Market Sender</title>
    <script data-main="/Modules/Fanatics.HotmarketSender/Scripts/app.js" src="/Modules/Fanatics.HotmarketSender/Scripts/vendor/require/require.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Modules/Fanatics.HotmarketSender/Styles/fuelux.min.css">
    <link rel="stylesheet" href="/Modules/Fanatics.HotmarketSender/Styles/main.css">
</head>
<body class="fuelux">
    <!-- navbar -->
    <nav class="navbar navbar-default navbar-static-top fanatics-nav">
        <div class="container-fluid">
            <a class="brand" href="/">
                <img src="/Modules/Fanatics.HotmarketSender/img/logo.png" width="220" alt="Hot Market Sender">
            </a>
            <div id="navbar" class="navbar-collapse collapse">
            </div>
        </div>
        <div class="red-bar"></div>
    </nav>
    <!-- Main container -->
    <div class="container-fluid">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="/hotmarketsender">Home</a></li>
            <li class="active">Schedule Sends</li>
        </ol>
        <!--/ Breadcrumb -->
        <!-- Content -->
        <div class="row">
            <div class="col-md-12">
                @if (!Model.ValidToken)
                {
                    <h2>Invalid or expired token.</h2>
                }
                else
                {
                    <!--main content-->
                   foreach (var s in Model.Schedules)
                   {
                    <div class="checkbox" id="@s.Id">
                        <label class="checkbox-custom" data-initialize="checkbox">
                            <input ontouchend="this.onclick=hoverFix" class="sr-only chk-ui" type="checkbox" value="@s.Id" data-ui="@s.ScheduledUI" data-mid="@s.BusinessUnitID" data-isnew="@s.IsNewBU" data-taskid="@s.ScheduledUITaskID" />
                            <span class="checkbox-label"><strong>MID: </strong>@s.BusinessUnitID - <strong>Scheduled UI: </strong>@s.ScheduledUI - <strong>Score: </strong>@s.FinalScore</span>
                        </label>
                    </div>
                    }
                    <button id="btn-cancel" type="button" class="btn btn-danger btn-block" data-loading-text="Processing...">Cancel Selected Sends</button>
                }
            </div>
            <!--/ Content -->
        </div>
       </div>
        <!-- Confirmation Modal -->
        <div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal-title">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Cancel Schedules</h4>
                    </div>
                    <div class="modal-body">
                        <p id="message"></p>
                    </div>
                    <div class="modal-footer">
                        <a href="/hotmarketsender/sends/@HttpUtility.JavaScriptStringEncode(Url.RequestContext.RouteData.Values["token"] == null ? "" : Url.RequestContext.RouteData.Values["token"].ToString())" class="btn btn-primary">Ok</a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        var antiForgeryToken = '@Html.AntiForgeryTokenValueOrchard()';
        var scheduleModel = @Html.Raw(Json.Encode(Model));
        requirejs(["sends"]);
        </script>
</body>
</html>
