﻿ body {
        padding-top: 60px;
        padding-bottom: 40px;
    font-size:12px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    
    .table-condensed td {
    padding-left:5px;
    padding-top: 2px;
    padding-bottom: 2px;
    }

label.valid {
    width: 24px;
    height: 24px;
    display: inline-block;
    text-indent: -9999px;
}
label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

/* Custom Navigation Styles */
.navbar-fixed-top {padding-top:0px; padding-bottom:0px;}
.nav-list > .active > a:hover {color: #ffffff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); background-color: #e53c2e;}
.fuelux .navbar .nav > li > a{
            padding-left: 5px;
            padding-right: 10px;
            color: #fff;
            text-shadow:none;
            background-color:#091140;
        }

    .fuelux .navbar .nav > li > a:focus, .fuelux .navbar .nav > li > a:hover {
        color: #fff;
    }

.widget-navigation .nav {
    padding-top:6px;
}

.user-actions a {
    color:#091140;
}

.user-actions a:hover {
    color:#091140;
    text-decoration:none;
}

/* Custom aside first nav */
.widget-aside-first h1 {
    margin-right: -15px;
    margin-left: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    display: block;
    padding: 3px 15px;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    color: #cccccc;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.widget-aside-first li {
    padding-bottom:5px;
}

.fuelux .well {
    padding: 5px 1px 1px 25px;
}