﻿@{ 
   Layout.Title = T("Welcome to the Fanatics Dashboard Administration Site").ToString(); 
 }

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Fanatics Dashboard</title>
    </head>
    <body>
        <h1>Get Started</h1>
        <p>We have prepared a series of short videos that will help you to getting around the new Dashboard interface, enjoy!</p>
        <br/>
        <h2>1 - Getting around the Admin</h2>
        <video id="video1" class="video-js vjs-default-skin"
              controls preload="auto" width="620" height="300">
         <source src="/Themes/Fanatics.Theme/Content/Videos/1/1-admin.mp4.mp4" type='video/mp4' />
         <source src="/Themes/Fanatics.Theme/Content/Videos/1/1-admin.oggtheora.ogv" type='video/ogg' />
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
        <br/>
        <h2>2 - Adding a new user with access to the Dashboard</h2>
        <video id="video2" class="video-js vjs-default-skin"
              controls preload="auto" width="620" height="300">
         <source src="/Themes/Fanatics.Theme/Content/Videos/2/2-creating users.mp4.mp4" type='video/mp4' />
         <source src="/Themes/Fanatics.Theme/Content/Videos/2/2-creating users.oggtheora.ogv" type='video/ogg' />
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
        <br/>
        <h2>3 - Adding a new Page</h2>
        <video id="video3" class="video-js vjs-default-skin"
              controls preload="auto" width="620" height="300">
         <source src="/Themes/Fanatics.Theme/Content/Videos/3/3-creating a page.mp4.mp4" type='video/mp4' />
         <source src="/Themes/Fanatics.Theme/Content/Videos/3/3-creating a page.oggtheora.ogv" type='video/ogg' />
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
        <br/>
        <h2>4 - Adding a new Data Extension Manager</h2>
         <video id="video4" class="video-js vjs-default-skin"
              controls preload="auto" width="620" height="300">
         <source src="/Themes/Fanatics.Theme/Content/Videos/4/4-creating a new DE Manager.mp4.mp4" type='video/mp4' />
         <source src="/Themes/Fanatics.Theme/Content/Videos/4/4-creating a new DE Manager.oggtheora.ogv" type='video/ogg' />
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
        <br/>
        <h2>5 - Managing Menus</h2>
        <video id="video5" class="video-js vjs-default-skin"
              controls preload="auto" width="620" height="300">
         <source src="/Themes/Fanatics.Theme/Content/Videos/5/5-creating a menu.mp4.mp4" type='video/mp4' />
         <source src="/Themes/Fanatics.Theme/Content/Videos/5/5-creating a menu.oggtheora.ogv" type='video/ogg' />
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
        <br/>
        <h2>6 - Managing Widgets and Layers</h2>
        <video id="video6" class="video-js vjs-default-skin"
              controls preload="auto" width="620" height="300">
         <source src="/Themes/Fanatics.Theme/Content/Videos/6/6-managing widgets.mp4.mp4" type='video/mp4' />
         <source src="/Themes/Fanatics.Theme/Content/Videos/6/6-managing widgets.oggtheora.ogv" type='video/ogg' />
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
        <br/>
        <h1>Learn more about the Orchard project</h1>
        <p>Orchard is a free, open source, community-focused <strong>Content Management System</strong> built on the ASP.NET MVC platform.</p>
        <p>Learn more about the Orchard project by visiting the official <a href="http://orchardproject.net/" target="_blank"></a>orchardproject.net</a> website.</p>
    </body>
</html>
