﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/Modules/WorkflowTool/img/favicon_16x16.png" rel="icon"></link>
    <title>Fanatics Workflow Tool</title>
    <script data-main="/Modules/WorkflowTool/Scripts/app.js" src="/Modules/WorkflowTool/Scripts/vendor/require/require.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Modules/WorkflowTool/Styles/fuelux.min.css">
    <link rel="stylesheet" href="/Modules/WorkflowTool/Styles/main.css">
    <link rel="stylesheet" href="/Modules/WorkflowTool/Styles/fullcalendar.min.css">
</head>
<body class="fuelux">
    <!-- navbar -->
    <nav class="navbar navbar-default navbar-static-top fanatics-nav">
        <div class="container-fluid">
            <a class="brand" href="/">
                <img src="/Modules/WorkflowTool/img/logo.png" height="32" alt="fanatics workflow">
            </a>
            <div class="pull-right"><a href="/workflow/help" style="color:#091140">Admin Help</a></div>
            <div id="navbar" class="navbar-collapse collapse">
            </div>
        </div>
    </nav>
    <!-- Main container -->
    <div class="container-fluid">
       
        <!-- Content -->
        <div class="row bottom-buffer">
            <div class="col-md-12 ">
                <div class="btn-group selectlist bu-dropdown pull-right" data-resize="auto" id="bu-colors">
                </div>
                <script id="bu-colors-template" type="text/x-handlebars-template">
                    <div class="button-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Filter By Business Unit <span class="caret"></span></button>
                        <ul class="dropdown-menu" style="left:-85%;">
                            <li class="bu-item" style="font-size:12px;display:none;"id="li-reset"><a href="#" id="reset-filter" tabIndex="-1" class="reset-filter"><span style="height:5px;width:5px;margin-right:10px;padding-right:15px;background-color:#ffffff">&nbsp;</span>&nbsp;Reset Filter</a></li>
                            {{#each bu}}
                            <li id="bu-{{ID}}" class="bu-item" style="font-size:12px" data-value="{{ID}}" data-name="{{Name}}" data-mid="{{MID}}"><a href="#" data-value="{{MID}}" tabIndex="-1"><span style="height:5px;width:5px;margin-right:10px;padding-right:15px;background-color:{{CalendarColor}}">&nbsp;</span>&nbsp;<input type="checkbox" class="bu-{{MID}}"/>&nbsp;{{Name}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </script>
                <a class="btn btn-primary" href="/workflow/campaign">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;New Campaign
                </a>
                <a class="btn btn-warning" href="/workflow/import">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>&nbsp;Import Campaign(s)
                </a>
                <a class="btn btn-success" href="/workflow">
                    <span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;Grid View
                </a>
            </div>
        </div>
      
        <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <!--main content-->
                        <div id="loader">
                            <h4>Loading campaigns, please wait...</h4>
                        </div>
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>

            <!-- Le Javascript -->
            <script type="text/javascript">
                var antiForgeryToken = '@Html.AntiForgeryTokenValueOrchard()';
                requirejs(["calendar"]);
            </script>

</body>
</html>
