﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/Modules/WorkflowTool/img/favicon_16x16.png" rel="icon"></link>
    <title>Fanatics Workflow Tool</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Modules/WorkflowTool/Styles/fuelux.min.css">
    <link rel="stylesheet" href="/Modules/WorkflowTool/Styles/main.css">
    <link rel="stylesheet" href="//vjs.zencdn.net/4.12/video-js.css">
    <script type="text/javascript" src="//vjs.zencdn.net/4.12/video.js"></script>
</head>
<body class="fuelux">
    <!-- navbar -->
    <nav class="navbar navbar-default navbar-static-top fanatics-nav">
        <div class="container-fluid">
            <a class="brand" href="/">
                <img src="/Modules/WorkflowTool/img/logo.png" height="32" alt="fanatics workflow">
            </a>
            <div class="pull-right"><a href="/workflow/help" style="color:#091140">Admin Help</a></div>
            <div id="navbar" class="navbar-collapse collapse">
            </div>
        </div>
    </nav>
    <!-- Main container -->
    <div class="container-fluid">
        <!-- Content -->
        <div class="row">
            <div class="col-md-12">
                <h1>Workflow Tool - Tutorial Videos</h1>
                <p>Play each video to learn how to manage the Workflow Tool</p>
                <h2>1 - Creating Business Units</h2>
                <video id="video1" class="video-js vjs-default-skin"
                      controls preload="auto" width="620" height="300">
                 <source src="/Media/Default/workflow-tool-videos/1/1-creating-business-untis.mp4.mp4" type='video/mp4' />
                 <source src="/Media/Default/workflow-tool-videos/1/1-creating-business-untis.oggtheora.ogv" type='video/ogg' />
                 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                </video>
                <br/>
                <h2>2 - Creating Users</h2>
                <video id="video2" class="video-js vjs-default-skin"
                      controls preload="auto" width="620" height="300">
                 <source src="/Media/Default/workflow-tool-videos/2/2-creating-users.mp4.mp4" type='video/mp4' />
                 <source src="/Media/Default/workflow-tool-videos/2/2-creating-users.oggtheora.ogv" type='video/ogg' />
                 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                </video>
                <br/>
                <h2>3 - Creating & Managing Templates</h2>
                <video id="video2" class="video-js vjs-default-skin"
                      controls preload="auto" width="620" height="300">
                 <source src="/Media/Default/workflow-tool-videos/3/3-creating templates.mp4.mp4" type='video/mp4' />
                 <source src="/Media/Default/workflow-tool-videos/3/3-creating templates.oggtheora.ogv" type='video/ogg' />
                 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                </video>
                <br/>
                <h2>4 - Managing Toggles</h2>
                <video id="video2" class="video-js vjs-default-skin"
                      controls preload="auto" width="620" height="300">
                 <source src="/Media/Default/workflow-tool-videos/4/4-available toggles.mp4.mp4" type='video/mp4' />
                 <source src="/Media/Default/workflow-tool-videos/4/4-available toggles.oggtheora.ogv" type='video/ogg' />
                 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                </video>
                <br/>
                <h2>5 - Configuring templates in SFMC</h2>
                <video id="video2" class="video-js vjs-default-skin"
                      controls preload="auto" width="620" height="300">
                 <source src="/Media/Default/workflow-tool-videos/5/5-setting-up-templates-in-sfmc.mp4.mp4" type='video/mp4' />
                 <source src="/Media/Default/workflow-tool-videos/5/5-setting-up-templates-in-sfmc.oggtheora.ogv" type='video/ogg' />
                 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                </video>
                <br/>
            </div>
        </div>
    </div>
    <!-- Le Javascript -->
    <script type="text/javascript">
        var antiForgeryToken = '@Html.AntiForgeryTokenValueOrchard()';
    </script>
</body>
</html>
