﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <link href="/Modules/WorkflowTool/img/favicon_16x16.png" rel="icon"></link>
    <title>Fanatics Workflow Tool</title>
    <script data-main="/Modules/WorkflowTool/Scripts/app.js" src="/Modules/WorkflowTool/Scripts/vendor/require/require.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Modules/WorkflowTool/Styles/fuelux.min.css">
    <link rel="stylesheet" href="/Modules/WorkflowTool/Styles/main.css">
    <link rel="stylesheet" href="/Modules/WorkflowTool/Styles/daterangepicker.css">

</head>
<body class="fuelux" style="font-size:12px">
    <!-- navbar -->
    <nav class="navbar navbar-default navbar-static-top fanatics-nav">
        <div class="container-fluid">
            <a class="brand" href="/">
                <img src="/Modules/WorkflowTool/img/logo.png" height="32" alt="fanatics workflow"></a>
            <div class="pull-right"><a href="/workflow/help" style="color:#091140">Admin Help</a></div>
            <div id="navbar" class="navbar-collapse collapse">
            </div>
        </div>
    </nav>
    <!-- Main container -->
    <div class="container-fluid">
        <!-- Content -->
        <div class="row bottom-buffer">
            <div class="col-md-12 ">
                <a class="btn btn-primary" href="/workflow/campaign">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;New Campaign
                </a>
                <a class="btn btn-warning" href="/workflow/import">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>&nbsp;Import Campaign(s)
                </a>
                <a class="btn btn-success" href="/workflow/calendar">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;Calendar View
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--main grid-->
                <div class="repeater" id="main-grid">
                    <div class="repeater-header">
                        <div class="repeater-header-left">
                            <span>Available Campaigns:</span>
                            <div class="btn-group selectlist repeater-filters bu-dropdown" data-resize="auto" id="home-bu-dropdown">
                            </div>
                            <script id="home-bus-template" type="text/x-handlebars-template">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                                    <span class="selected-label">&nbsp;</span>
                                    <span class="caret"></span>
                                    <span class="sr-only">Business Unit</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li data-value="all" data-selected="true"><a href="#">All</a></li>
                                    {{#each bu}}
                                    <li data-value="{{Name}}"><a href="#">{{Name}}</a></li>
                                    {{/each}}
                                </ul>
                                <input class="hidden hidden-field" name="filterSelection" readonly="readonly" aria-hidden="true" type="text" />
                            </script>

                            <span>Deployment Date:</span>
                            <input type="text" id="deployment-date" class="deployment-date">
                        </div>
                        <div class="repeater-header-right">
                            <div class="repeater-search">
                                <div class="search input-group">
                                    <input type="search" class="form-control" placeholder="Search" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <span class="glyphicon glyphicon-search"></span>
                                            <span class="sr-only">Search</span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="repeater-viewport">
                        <div class="repeater-canvas"></div>
                        <div class="loader repeater-loader"></div>
                    </div>
                    <div class="repeater-footer">
                        <div class="repeater-footer-left">
                            <div class="repeater-itemization">
                                <span><span class="repeater-start"></span>- <span class="repeater-end"></span>of <span class="repeater-count"></span>items</span>
                                <div class="btn-group selectlist" data-resize="auto">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="selected-label">&nbsp;</span>
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li data-value="5"><a href="#">5</a></li>
                                        <li data-value="10" data-selected="true"><a href="#">10</a></li>
                                        <li data-value="20"><a href="#">20</a></li>
                                        <li data-value="50" data-foo="bar" data-fizz="buzz"><a href="#">50</a></li>
                                        <li data-value="100"><a href="#">100</a></li>
                                    </ul>
                                    <input class="hidden hidden-field" name="itemsPerPage" readonly="readonly" aria-hidden="true" type="text" />
                                </div>
                                <span>Per Page</span>
                            </div>
                        </div>
                        <div class="repeater-footer-right">
                            <div class="repeater-pagination">
                                <button type="button" class="btn btn-default btn-sm repeater-prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Previous Page</span>
                                </button>
                                <label class="page-label" id="myPageLabel">Page</label>
                                <div class="repeater-primaryPaging active">
                                    <div class="input-group input-append dropdown combobox">
                                        <input type="text" class="form-control" aria-labelledby="myPageLabel">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right"></ul>
                                        </div>
                                    </div>
                                </div>
                                <input type="text" class="form-control repeater-secondaryPaging" aria-labelledby="myPageLabel">
                                <span>of <span class="repeater-pages"></span></span>
                                <button type="button" class="btn btn-default btn-sm repeater-next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Next Page</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Change Status Modal -->
    <div class="modal fade" id="change-status-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="message-modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Change Campaign Status</h4>
                </div>
                <div class="modal-body">
                   <p id="change-status-message"></p>
                     <div class="form-group fuelux">
                        <div class="btn-group selectlist" data-resize="auto" data-initialize="selectlist" id="status-select-list">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                                <span class="selected-label">&nbsp;</span>
                                <span class="caret"></span>
                                <span class="sr-only">Planning</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li data-value="Planning" data-selected="true"><a href="#">Planning</a></li>
                                <li data-value="Development"><a href="#">Development</a></li>
                                <li data-value="Ready for QA"><a href="#">Ready for QA</a></li>
                                <li data-value="Ready for Deployment"><a href="#">Ready for Deployment</a></li>
                                <li data-value="Deployed"><a href="#">Deployed</a></li>
                                <li data-value="At Risk"><a href="#">At Risk</a></li>
                            </ul>
                            <input class="hidden hidden-field" name="status-select-list" readonly="readonly" aria-hidden="true" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="btn-change-status" data-id="" data-loading-text="Saving...">Change Status</button>
                </div>
            </div>
        </div>
    </div>
     <!-- Change owner Modal -->
    <div class="modal fade" id="change-owner-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Change Campaign Owner</h4>
                </div>
                <div class="modal-body">
                   <p id="change-owner-message"></p>
                     <div class="form-group fuelux">
                         <div class="btn-group selectlist" data-resize="auto" id="owner-select-list"></div>
                         <script id="owner-select-list-template" type="text/x-handlebars-template">
                             <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                                 <span class="selected-label">&nbsp;</span>
                                 <span class="caret"></span>
                                 <span class="sr-only">Ops Owner</span>
                             </button>
                             <ul class="dropdown-menu">
                                 <li data-value="" data-selected="true"><a href="#">Selected by Ops</a></li>
                                 {{#each user}}
                                 <li data-value="{{UserName}}" data-email="{{UserEmail}}"><a href="#">{{UserName}}</a></li>
                                 {{/each}}
                             </ul>
                             <input class="hidden hidden-field" name="step1-owner" readonly="readonly" aria-hidden="true" type="text" />
                         </script>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="btn-change-owner" data-id="" data-loading-text="Saving...">Change Ops Owner</button>
                </div>
            </div>
        </div>
    </div>
     <!-- Change Job IDs Modal -->
    <div class="modal fade" id="change-jobids-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Change Campaign Job ID(s)</h4>
                </div>
                <div class="modal-body">
                   <p id="change-jobids-message"></p>
                     <div class="form-group fuelux">
                       <input id="jobids" name="jobids" type="text" placeholder="Job ID(s)" class="form-control email-name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="btn-change-jobids" data-id="" data-loading-text="Saving...">Change Job ID(s)</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Copy Campaign Modal -->
    <div class="modal fade" id="copy-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Copy Campaign</h4>
                </div>
                <div class="modal-body">
                    <div id="copy-error" class="alert alert-danger" role="alert" style="display:none">Campaign Name already exists, please choose a differente name</div>
                    <p id="copy-message"></p>
                    <div class="form-group fuelux">
                        <input id="campaign-name" name="campaign-name" type="text" placeholder="Campaign Name" class="form-control email-name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="btn-copy" data-id="" data-loading-text="Copying...">Copy Campaign</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Campaign Modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Delete Campaign</h4>
                </div>
                <div class="modal-body">
                    <p id="delete-message"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="btn-delete" data-id="" data-loading-text="Deleting...">Delete Campaign</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Le Javascript -->
    <script type="text/javascript">
        var antiForgeryToken = '@Html.AntiForgeryTokenValueOrchard()';
        requirejs(["main"]);
    </script>
</body>
</html>
