/* General Styles */
.fanatics-nav{
    background-color:#0c2d5d; 
    padding-top:15px; 
    padding-bottom:0px; 
    height:50px;
}

.red-bar {
    width:100%; 
    height:4px;
    background-color:#be4e39
}

.wizard-nav{
    background-color:#F1F6FC;
}
/* Datepicker Styles */
.datepicker-right {
    float: right;
    width: 150px;
    padding-left: 10px;
}

.datepicker-step1 {
    width: 150px;
    display: inline-block;
}

.fuelux .datepicker-calendar-days td.selected b, .fuelux .datepicker-calendar-days td.selected button {
    background-color: #ffd800;
    width: 36px;
}

.fuelux .datepicker-calendar-footer {
    height: 60px;
    line-height: 180%;
}
/* Datagrid Styles */
.bottom-buffer { padding-bottom:10px; }

.repeater-canvas {min-height: 200px;}

/* step 1 styles */
.deployment-time{
    width: 120px;
}

.dropdown-menu-time{
    max-height: 200px;
  overflow: auto;
}

.form-group {
    padding-right: 15px;
}

.form-group-deployment {
    padding-right: 0px;
}

.email-name {
    width: 350px !important;
}

.cnamenumber{
     width: 150px !important;
}
.padding20 {
    padding-top: 20px;
}

/* step 2 styles */
.template a:hover,.template a:visited,.template a:active,.template a:link{
    text-decoration:none;
}

.template h4 {
    color: #337ab7;
}

.template .active {
    border-width: 10px;
    border-color: #ffd800;
}

/*step 3 styles*/
.toggles .checkbox {
    margin-top: 0px;
}

/*step 4 styles*/
.checkbox-inline .checkbox-label
{
   padding-left: 20px;
}

.tab-pane {
    padding-top: 30px;
}

.group-audience{
    margin-bottom: 0px;
}

.group-audience .checkbox{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:small;
    float: left;
    min-width: 250px;
}

.group-audience-de .checkbox{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:small;
    float: left;
    min-width: 480px;
}
/* error styles */
.error {
    color:red;
    border-color:red;
}