﻿    <!--Loading Form-->
    <div id="modalLoading" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">

    <div class="modal-body">
       Loading please wait...
    </div>

    </div>
    <!--Add/Edit form-->
    <div id="pnlAddEdit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="lblModalTitle"></h3>
        </div>
        <div class="modal-body">
            <div id="pnlFormStatus" class="alert alert-success" style="display:none;">
                <strong id="lblFormTitle"></strong> <span id="lblFormMessage" />
            </div>
            <form class="form-horizontal" id="frmAddEdit"></form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" id="btnSubmit" type="submit">Save changes</button>
        </div>
    </div>
    <!--Status Message-->
    <div class="row" style="margin-left: 0px;">
        <div id="pnlStatus" class="alert alert-success" style="display:none;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong id="lblTitle"></strong> <span id="lblMessage" />
        </div>
    </div>
    <!-- Data Grid -->
    <table id="grDataExtension" class="table table-bordered datagrid">
        <thead>
            <tr>
                <th>
                    <span class="datagrid-header-title"></span>
                    <div class="datagrid-header-left">
                        <div class="input-append search datagrid-search">
                            <input type="text" class="input-medium" placeholder="Search">
                            <button type="button" class="btn"><i class="icon-search"></i></button>
                        </div>
                    </div>
                    <a id="btnAdd" href="javascript:void(0)" class="btn btn-primary pull-right" onclick="AddItem();"><i class="icon-plus-sign icon-white" style="margin-top: 0px;"></i> Add record</a>
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>
                    <div class="datagrid-footer-left" style="display: none;">
                        <div class="grid-controls">
                            <span><span class="grid-start"></span>- <span class="grid-end"></span>of <span class="grid-count"></span></span>
                            <select class="grid-pagesize" style="display:none;">
                                <option>@Model.ItemsPerPage</option>
                                <option>20</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>
                    </div>
                    <div class="datagrid-footer-right" style="display: none;">
                        <div class="grid-pager">
                            <button class="btn grid-prevpage"><i class="icon-chevron-left"></i></button>
                            <span>Page</span>
                            <div class="input-append dropdown combobox">
                                <input class="span1" type="text">
                                <button class="btn" data-toggle="dropdown"><i class="caret"></i></button>
                                <ul class="dropdown-menu"></ul>
                            </div>
                            <span>of <span class="grid-pages"></span></span>
                            <button class="btn grid-nextpage"><i class="icon-chevron-right"></i></button>
                        </div>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
    <!-- le javascript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
    <script src="//fuelcdn.com/fuelux-imh/2.2/loader.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <script type="text/javascript" src="//image.exct.net/lib/fe651570716304757314/m/1/jquery.validate.js"></script>
    <script type="text/javascript">
    var userID = "@HttpContext.Current.Session["userID"]";
    var oauthToken = "@HttpContext.Current.Session["oauthToken"]";
    var internalOauthToken = "@HttpContext.Current.Session["internalOauthToken"]";
    var refreshToken = "@HttpContext.Current.Session["refreshToken"]";
    var tokenRequest = "@HttpContext.Current.Session["tokenRequest"]";
    var externalKey = "@Model.ExternalKey";
    var itemsPerPage = "@Model.ItemsPerPage";
    var fieldsFilter = "@Model.FieldsFilter";
    </script>
    @{ Script.Include("jquery-validation.js"); }
    @{ Script.Include("fuelux-data.js"); }
    @{ Script.Include("controller.js"); }
