﻿@model Fanatics.CMSTool.Models.Schedule
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <link href="/Modules/Fanatics.CMSTool/img/favicon_16x16.png" rel="icon"></link>
    <title>Fanatics CMS Tool</title>
    <script data-main="/Modules/Fanatics.CMSTool/Scripts/app.js" src="/Modules/Fanatics.CMSTool/Scripts/vendor/require/require.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Modules/Fanatics.CMSTool/Styles/fuelux.min.css">
    <link rel="stylesheet" href="/Modules/Fanatics.CMSTool/Styles/main.css">
    <link rel="stylesheet" href="/Modules/Fanatics.CMSTool/Styles/daterangepicker.css">
    <link rel="stylesheet" href="/Modules/Fanatics.CMSTool/Scripts/vendor/bootstrap-select/bootstrap-select.css">
</head>
<body class="fuelux" style="font-size:12px">
    <!-- navbar -->
    <nav class="navbar navbar-default navbar-static-top fanatics-nav">
        <div class="container-fluid">
            <a class="brand" href="/">
                <img src="/Modules/Fanatics.CMSTool/img/logo.png" height="32" alt="fanatics cms tool">
            </a>
            <div id="navbar" class="navbar-collapse collapse">
            </div>
        </div>
    </nav>
    <!-- Main container -->
    <div class="container-fluid">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="/cms">Home</a></li>
            <li class="active">New / Edit Schedule</li>
        </ol>
        <!-- Content -->
        <div class="row">
            <div class="col-md-4 fuelux"></div>
                <div class="col-md-2 fuelux">
                    <button id="btn-save" type="button" class="btn btn-sm btn-primary btn-sm pull-right" style="margin-top:3px;margin-right:15px;" data-loading-text="Saving..."><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save Schedule</button>
                    <a href="/cms" type="button" class="btn btn-sm btn-danger btn-sm pull-right" style="margin-top:3px;margin-right:5px;">Cancel</a> &nbsp;
                </div>
            </div>
        <div class="row">
            <div class="col-md-6 fuelux">
                <!--main content-->
                <div class="form">
                   
                    <!-- name -->
                    <div class="form-group">
                        <label for="name">Name: </label>
                        <input id="name" name="name" type="text" placeholder="Schedule Name" class="form-control">
                    </div>
                    <!-- zone -->
                    <div class="form-group fuelux">
                        <label for="name" style="display:block">Zone: </label>
                        <div class="btn-group selectlist" data-resize="auto" data-initialize="selectlist" id="zone">
                            <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                                <span class="selected-label">&nbsp;</span>
                                <span class="caret"></span>
                                <span class="sr-only">Please Select</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li data-value="1" data-selected="true" style="font-size:12px"><a href="#">Footer</a></li>
                                <li data-value="2" data-selected="false" style="font-size:12px"><a href="#">Header</a></li>
                                <li data-value="3" data-selected="false" style="font-size:12px"><a href="#">Sidebar</a></li>
                            </ul>
                            <input class="hidden hidden-field" name="zone" readonly="readonly" aria-hidden="true" type="text" />
                        </div>
                    </div>
                    <!-- start date -->
                    <div class="form-group form-group-deployment">
                        <label for="start-date" style="display:block">Start Date: </label>
                        <div class="datepicker fuelux" id="start-date">
                            <div class="input-group">
                                <input class="form-control input-sm" type="text" />
                                <div class="input-group-btn datepicker-panel">
                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        <span class="sr-only">Toggle Calendar</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right datepicker-calendar-wrapper" role="menu">
                                        <div class="datepicker-calendar">
                                            <div class="datepicker-calendar-header">
                                                <button type="button" class="prev"><span class="glyphicon glyphicon-chevron-left"></span><span class="sr-only">Previous Month</span></button>
                                                <button type="button" class="next"><span class="glyphicon glyphicon-chevron-right"></span><span class="sr-only">Next Month</span></button>
                                                <button type="button" class="title">
                                                    <span class="month">
                                                        <span data-month="0">January</span>
                                                        <span data-month="1">February</span>
                                                        <span data-month="2">March</span>
                                                        <span data-month="3">April</span>
                                                        <span data-month="4">May</span>
                                                        <span data-month="5">June</span>
                                                        <span data-month="6">July</span>
                                                        <span data-month="7">August</span>
                                                        <span data-month="8">September</span>
                                                        <span data-month="9">October</span>
                                                        <span data-month="10">November</span>
                                                        <span data-month="11">December</span>
                                                    </span><span class="year"></span>
                                                </button>
                                            </div>
                                            <table class="datepicker-calendar-days">
                                                <thead>
                                                    <tr>
                                                        <th>Su</th>
                                                        <th>Mo</th>
                                                        <th>Tu</th>
                                                        <th>We</th>
                                                        <th>Th</th>
                                                        <th>Fr</th>
                                                        <th>Sa</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <div class="datepicker-wheels" aria-hidden="true">
                                            <div class="datepicker-wheels-month">
                                                <h2 class="header">Month</h2>
                                                <ul>
                                                    <li data-month="0">
                                                        <button type="button">Jan</button>
                                                    </li>
                                                    <li data-month="1">
                                                        <button type="button">Feb</button>
                                                    </li>
                                                    <li data-month="2">
                                                        <button type="button">Mar</button>
                                                    </li>
                                                    <li data-month="3">
                                                        <button type="button">Apr</button>
                                                    </li>
                                                    <li data-month="4">
                                                        <button type="button">May</button>
                                                    </li>
                                                    <li data-month="5">
                                                        <button type="button">Jun</button>
                                                    </li>
                                                    <li data-month="6">
                                                        <button type="button">Jul</button>
                                                    </li>
                                                    <li data-month="7">
                                                        <button type="button">Aug</button>
                                                    </li>
                                                    <li data-month="8">
                                                        <button type="button">Sep</button>
                                                    </li>
                                                    <li data-month="9">
                                                        <button type="button">Oct</button>
                                                    </li>
                                                    <li data-month="10">
                                                        <button type="button">Nov</button>
                                                    </li>
                                                    <li data-month="11">
                                                        <button type="button">Dec</button>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="datepicker-wheels-year">
                                                <h2 class="header">Year</h2>
                                                <ul></ul>
                                            </div>
                                            <div class="datepicker-wheels-footer clearfix">
                                                <button type="button" class="btn datepicker-wheels-back"><span class="glyphicon glyphicon-arrow-left"></span><span class="sr-only">Return to Calendar</span></button>
                                                <button type="button" class="btn datepicker-wheels-select">Select <span class="sr-only">Month and Year</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end date -->
                    <div class="form-group form-group-deployment">
                        <label for="end-date" style="display:block">End Date: </label>
                        <div class="datepicker fuelux" id="end-date">
                            <div class="input-group">
                                <input class="form-control input-sm" type="text" />
                                <div class="input-group-btn datepicker-panel">
                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        <span class="sr-only">Toggle Calendar</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right datepicker-calendar-wrapper" role="menu">
                                        <div class="datepicker-calendar">
                                            <div class="datepicker-calendar-header">
                                                <button type="button" class="prev"><span class="glyphicon glyphicon-chevron-left"></span><span class="sr-only">Previous Month</span></button>
                                                <button type="button" class="next"><span class="glyphicon glyphicon-chevron-right"></span><span class="sr-only">Next Month</span></button>
                                                <button type="button" class="title">
                                                    <span class="month">
                                                        <span data-month="0">January</span>
                                                        <span data-month="1">February</span>
                                                        <span data-month="2">March</span>
                                                        <span data-month="3">April</span>
                                                        <span data-month="4">May</span>
                                                        <span data-month="5">June</span>
                                                        <span data-month="6">July</span>
                                                        <span data-month="7">August</span>
                                                        <span data-month="8">September</span>
                                                        <span data-month="9">October</span>
                                                        <span data-month="10">November</span>
                                                        <span data-month="11">December</span>
                                                    </span><span class="year"></span>
                                                </button>
                                            </div>
                                            <table class="datepicker-calendar-days">
                                                <thead>
                                                    <tr>
                                                        <th>Su</th>
                                                        <th>Mo</th>
                                                        <th>Tu</th>
                                                        <th>We</th>
                                                        <th>Th</th>
                                                        <th>Fr</th>
                                                        <th>Sa</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <div class="datepicker-wheels" aria-hidden="true">
                                            <div class="datepicker-wheels-month">
                                                <h2 class="header">Month</h2>
                                                <ul>
                                                    <li data-month="0">
                                                        <button type="button">Jan</button>
                                                    </li>
                                                    <li data-month="1">
                                                        <button type="button">Feb</button>
                                                    </li>
                                                    <li data-month="2">
                                                        <button type="button">Mar</button>
                                                    </li>
                                                    <li data-month="3">
                                                        <button type="button">Apr</button>
                                                    </li>
                                                    <li data-month="4">
                                                        <button type="button">May</button>
                                                    </li>
                                                    <li data-month="5">
                                                        <button type="button">Jun</button>
                                                    </li>
                                                    <li data-month="6">
                                                        <button type="button">Jul</button>
                                                    </li>
                                                    <li data-month="7">
                                                        <button type="button">Aug</button>
                                                    </li>
                                                    <li data-month="8">
                                                        <button type="button">Sep</button>
                                                    </li>
                                                    <li data-month="9">
                                                        <button type="button">Oct</button>
                                                    </li>
                                                    <li data-month="10">
                                                        <button type="button">Nov</button>
                                                    </li>
                                                    <li data-month="11">
                                                        <button type="button">Dec</button>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="datepicker-wheels-year">
                                                <h2 class="header">Year</h2>
                                                <ul></ul>
                                            </div>
                                            <div class="datepicker-wheels-footer clearfix">
                                                <button type="button" class="btn datepicker-wheels-back"><span class="glyphicon glyphicon-arrow-left"></span><span class="sr-only">Return to Calendar</span></button>
                                                <button type="button" class="btn datepicker-wheels-select">Select <span class="sr-only">Month and Year</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label id="chk-no-end-date" class="checkbox-custom" data-initialize="checkbox">
                            <input class="sr-only" type="checkbox" />
                            <span class="checkbox-label">No End Date</span>
                        </label>
                    </div>
                    <!-- PSIDs -->
                    <div class="form-group">
                        <label for="name" style="display:block">PSIDs: </label>
                        <select id="psids" class="selectpicker" multiple data-live-search="true">
                            <option>10005</option>
                            <option>10006</option>
                            <option>10007</option>
                        </select>
                    </div>
                   
                    <!-- contents -->
                    <div class="panel panel-default">
                        <div class="panel-heading" style="padding-bottom: 20px;">
                            <h3 class="panel-title" style="display:inline-block;"><b>Contents</b></h3>
                            <a href="/cms/content/create" class="btn btn-sm btn-success btn-sm pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Content</a>
                        </div>
                        <div class="panel-body">
                            <div id="content-list"></div>
                            <div id="no-contents" style="padding:10px;display:none"><h4>You have no contents, click on the button above to start adding some!</h4></div>
                            <script id="content-item-template" type="text/x-handlebars-template">
                                <div class="content-item" data-item="{{Ordinal}}" data-content-id="{{ContentID}}">
                                    <div class="row content-row">
                                        <div class="col-xs-1 counter">
                                            <a href="javascript:void(0)" class="up-btn" data-pos="{{Ordinal}}"><span class="glyphicon glyphicon-chevron-up"></span></a>
                                            <h3 class="content-position">{{Ordinal}}</h3>
                                            <a href="javascript:void(0)" class="down-btn" data-pos="{{Ordinal}}"><span class="glyphicon glyphicon-chevron-down"></span></a>
                                        </div>
                                        <div class="col-xs-11 col-sm-10">
                                            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                                <tr>
                                                    <td align="left" valign="middle" class="content-type" height="70" style="width: 90%;">
                                                        <span>{{ContentType}}</span><br />
                                                    </td>
                                                    <td align="right" valign="middle" class="content-type" height="70" style="width: 10%;">
                                                        <a href="/cms/content/edit/{{ContentID}}" title="Edit" class="edit-content"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
                                                        <a href="javascript:void(0)" title="Delete" data-pos="{{Ordinal}}" class="delete-content"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </script>
                            </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
    <!-- Le Javascript -->
    <script type="text/javascript">
        var antiForgeryToken = '@Html.AntiForgeryTokenValueOrchard()';
        var scheduleID = '@HttpUtility.JavaScriptStringEncode(Url.RequestContext.RouteData.Values["scheduleID"] == null ? "" : Url.RequestContext.RouteData.Values["scheduleID"].ToString())';
        var schedule = @Html.Raw(Json.Encode(Model));
        requirejs(["create-schedules"]);
    </script>
</body>
</html>
