﻿@model InputFieldWithDefault.CustomFields.InputFieldWithDefault
@using Orchard.Utility.Extensions;
@using Orchard.Fields.Settings;
@{
    var settings = Model.PartFieldDefinition.Settings.GetModel<InputFieldSettings>();
}
<fieldset>
    <label>@Model.DisplayName</label>
    @if (HasText(settings.Hint))
    {
        <span class="hint">@settings.Hint</span>
    }
</fieldset>
