﻿@model Fanatics.Email.Model.Campaign
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <link href="/Modules/WorkflowTool/img/favicon_16x16.png" rel="icon"></link>
    <title>Fanatics Workflow Tool</title>
    <script data-main="/Modules/WorkflowTool/Scripts/app.js" src="/Modules/WorkflowTool/Scripts/vendor/require/require.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Modules/WorkflowTool/Styles/fuelux.min.css">
    <link rel="stylesheet" href="/Modules/WorkflowTool/Styles/main.css">

</head>
<body class="fuelux" style="font-size:12px">
    <!-- navbar -->
    <nav class="navbar navbar-default navbar-static-top fanatics-nav">
        <div class="container-fluid">
            <a class="brand" href="/">
                <img src="/Modules/WorkflowTool/img/logo.png" height="32" alt="fanatics workflow">
            </a>
            <div class="pull-right"><a href="/workflow/help" style="color:#091140">Admin Help</a></div>
            <div id="navbar" class="navbar-collapse collapse">
            </div>
        </div>
    </nav>
    <!-- Main container -->
    <div class="container-fluid">
        <div class="pull-right">
            <button id="btn-create-email" type="button" class="btn btn-sm btn-success btn-sm" style="display:none;margin-top:3px;margin-right:3px;" data-loading-text="Creating Email..."><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Create Email</button>
            <button id="btn-create-ui" type="button" class="btn btn-sm btn-warning btn-sm" style="display:none;margin-top:3px;margin-right:3px;"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Create UI(s)</button>
            <button id="btn-save" type="button" class="btn btn-sm btn-primary btn-sm" style="margin-top:3px;margin-right:3px;" data-loading-text="Saving..."><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save Campaign</button>
        </div>
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li><a href="/workflow">Home</a></li>
          <li class="active">Campaign Details</li>
        </ol>
        <!-- Content -->
        <div class="row">
            <div class="col-md-12 fuelux">
                <!--main step content-->
                <nav class="navbar navbar-default wizard-nav"  data-spy="affix" data-offset-top="300" data-offset-bottom="300">
                    <div class="container-fluid">
                        <button type="button" class="btn btn-sm btn-default btn-primary navbar-btn wizard-action" data-step="1"><span class="badge">1</span>&nbsp;Campaign Basics</button>
                        <button type="button" class="btn btn-sm btn-default navbar-btn wizard-action" data-step="2"><span class="badge">2</span>&nbsp;Template Selection</button>
                        <button type="button" class="btn btn-sm btn-default navbar-btn wizard-action" data-step="3"><span class="badge">3</span>&nbsp;Audience Targeting</button>
                        <button type="button" class="btn btn-sm btn-default navbar-btn wizard-action" data-step="4"><span class="badge">4</span>&nbsp;Campaign Brief</button>
                        <button type="button" class="btn btn-sm btn-default navbar-btn wizard-action" data-step="5"><span class="badge">5</span>&nbsp;Final Brief</button>
                        <button type="button" class="btn btn-sm btn-default navbar-btn wizard-action" data-step="6"><span class="badge">6</span>&nbsp;Feedback</button>
                    </div>
                </nav>
                        <div class="wizard" data-initialize="wizard" id="workflow-wizard">
                            <div class="steps-container" style="display:none">
                                <ul class="steps">
                                    <li data-step="1" data-name="campaign" class="active"><span class="badge">1</span>Campaign Basics<span class="chevron"></span></li>
                                    <li data-step="2" data-name="template"><span class="badge">2</span>Template Selection<span class="chevron"></span></li>
                                    <li data-step="3" data-name="audience"><span class="badge">3</span>Audience Targeting<span class="chevron"></span></li>
                                    <li data-step="4" data-name="brief"><span class="badge">4</span>Campaign Brief<span class="chevron"></span></li>
                                    <li data-step="5" data-name="final"><span class="badge">5</span>Final Brief<span class="chevron"></span></li>
                                    <li data-step="6" data-name="final"><span class="badge">6</span>Feedback<span class="chevron"></span></li>
                                </ul>
                            </div>
                            <div class="step-content">
                                <div class="step-pane active" data-step="1">
                                    @{ Html.RenderPartial("Campaign/Wizard/Step1");}
                                </div>
                                <div class="step-pane" data-step="2">
                                    @{ Html.RenderPartial("Campaign/Wizard/Step2");}
                                </div>
                                <div class="step-pane" data-step="3">
                                    @{ Html.RenderPartial("Campaign/Wizard/Step3");}
                                </div>
                                <div class="step-pane" data-step="4">
                                    @{ Html.RenderPartial("Campaign/Wizard/Step4");}
                                </div>
                                <div class="step-pane" data-step="5">
                                    @{ Html.RenderPartial("Campaign/Wizard/Step5");}
                                </div>
                                <div class="step-pane" data-step="6">
                                    @{ Html.RenderPartial("Campaign/Wizard/Step6");}
                                </div>
                            </div>

                        </div>
                    </div>
            </div>
    </div>
    <!-- Error Modal -->
    <div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="message-modal-content">
            </div>
            <script id="message-modal-template" type="text/x-handlebars-template">
                <div class="modal-header">
                    {{# if readonly }}
                    {{else}}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{/if}}
                    <h4 class="modal-title">{{title}}</h4>
                </div>
                <div class="modal-body">
                   <p>{{message}}</p>
                </div>
                <div class="modal-footer">
                    {{# if readonly }}
                    {{else}}
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    {{/if}}
                </div>
           </script>
        </div>
    </div>
    <!-- Create UI Send Modals TODO: Move to a view (maybe)-->
    <div class="modal fade" id="create-ui-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="message-modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create UI Send</h4>
                </div>
                <div class="modal-body">
                    <p id="change-status-message"></p>
                    <div class="form-group fuelux">
                        <div id="create-ui-success" class="alert alert-success" role="alert" style="display:none;">
                            UI Send(s) succesfully created!
                        </div>
                        <h4>Options</h4>
                        <div class="checkbox">
                            <label id="chk-quick-deploy" class="checkbox-custom" data-initialize="checkbox">
                                <input class="sr-only" type="checkbox" />
                                <span class="checkbox-label">Create for Quick Deploy usage?</span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label id="chk-ui-per-audience" class="checkbox-custom" data-initialize="checkbox">
                                <input class="sr-only" type="checkbox"/>
                                <span class="checkbox-label">Create one UI per Audience?</span>
                            </label>
                        </div>
                        <div id="create-ui-audiences"></div>
                        <script id="create-ui-audiences-template" type="text/x-handlebars-template">
                           <h4>Audiences</h4>
                            {{#foreach DEAudiences}}
                            {{#if $last}}
                                {{Name}}
                            {{else}}
                                {{Name}},
                            {{/if}}
                            {{/foreach}}
                            <h4>Supressions</h4>
                            {{#if Supressions.length}}
                            {{#foreach Supressions}}
                            {{#if $last}}
                                {{Name}}
                            {{else}}
                                {{Name}},
                            {{/if}}
                            {{/foreach}}
                            {{else}}
                                No supressions.
                            {{/if}}
                        </script>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="btn-create-ui-submit" data-id="" data-loading-text="Creating...">Create</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Le Javascript -->
    <script type="text/javascript">
        var antiForgeryToken = '@Html.AntiForgeryTokenValueOrchard()';
        var campaignID = '@HttpUtility.JavaScriptStringEncode(Url.RequestContext.RouteData.Values["campaignID"] == null ? "" : Url.RequestContext.RouteData.Values["campaignID"].ToString())';
        var activeStep = '@HttpUtility.JavaScriptStringEncode(Request.QueryString["step"] == null ? "" : Request.QueryString["step"].ToString())';
        var campaign = @Html.Raw(Json.Encode(Model));
        requirejs(["wizard"]);
    </script>
    
    
    
</body>
</html>
