﻿@using System.Web.Mvc;

@{
    Style.Include("//image.exct.net/lib/fe651570716304757314/m/1/fullcalendar.css");
    Style.Include("//image.exct.net/lib/fe651570716304757314/m/1/fullcalendar.print.css");
    Style.Include("//www.fuelcdn.com/fuelux-imh/2.6.0/css/fuelux.css");
    Style.Include("//www.fuelcdn.com/fuelux-imh/2.6.0/css/fuelux-responsive.css");
    Style.Include("//image.exct.net/lib/fe651570716304757314/m/1/selectize.css");
    Style.Include("//image.exct.net/lib/fe651570716304757314/m/1/bootstrap-responsive.css");
    Style.Include("custom.css");
    Style.Include("//vjs.zencdn.net/4.12/video-js.css");
    Script.Include("//vjs.zencdn.net/4.12/video.js");
    Script.Include("//image.exct.net/lib/fe651570716304757314/m/1/fullcalendar.min.js");
}
<header id="layout-header" class="group">
    <div id="header">
        @Display(Model.Header)
    </div>
</header>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner" style="padding-top:0px; padding-bottom:0px; height:50px;">
        <div class="container-fluid" style="background-color:#ffffff; padding-top:0px; padding-bottom:0px; height:50px;">
            <a class="brand" href="/"><img src="/Themes/Fanatics.Theme/Content/logo.png" height="32" style="height:32px !important" border="0"></a>
            <div class="nav-collapse">
                @Display(Model.Navigation)
            </div>
            <div class="nav navbar-nav nav-pills pull-right" style="padding-top:15px;">
                @if (WorkContext.CurrentUser != null)
                {
                    
                    <span class="user-actions">
                        
                        @if (AuthorizedFor(Orchard.Security.StandardPermissions.AccessAdminPanel))
                        {
                            @Html.ActionLink(T("Admin Panel").ToString(), "Index", new { Area = "Dashboard", Controller = "Admin" })
                        }
                    </span>
                }
            </div>
        </div>
       
    </div>
</div>
<div id="main" class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <div class="well sidebar-nav">
                    @Display(Model.AsideFirst)
                <br>
            </div>
        </div>
        <div class="span10">
            @Display(Model.Content)        
        </div>
    </div>
</div>
