﻿@model DEManager.Models.DEManagerPart
<fieldset>
    <label class="sub" for="ExternalKey">External Key</label><br />
    @Html.TextBoxFor(m => m.ExternalKey, new { @class = "text" })
    <span class="hint">The Data Extension External Key</span>
</fieldset>
<fieldset>
    <label class="sub" for="ItemsPerPage">Items Per Page</label><br />
    @Html.TextBoxFor(m => m.ItemsPerPage, new { @class = "text" })
    <span class="hint">The amount of rows to be displayed per page in the grid</span>
</fieldset>
<fieldset>
    <label class="sub" for="FieldsFilter">Fields Filter</label>
    @Html.TextBoxFor(m => m.FieldsFilter, new { @class = "text large" })
    <span class="hint">The columns you only want to show in the grid (sepparate with comma)</span>
</fieldset>