﻿@model WorkflowTool.Models.WorkflowToolTemplatePart
<fieldset>
    <label class="sub" for="ExternalKey">SFMC Name</label><br />
    @Html.TextBoxFor(m => m.SFMCName, new { @class = "text large" })
    <span class="hint">The Name of the template that was given on SFMC</span>
</fieldset>
