﻿@model InputFieldWithDefault.Settings.InputFieldWithDefaultSettings
@using Orchard.Fields.Settings;
<fieldset>
    <div>
        <label for="@Html.FieldIdFor(m => m.DefaultValue)">@T("Default Value")</label>
        @Html.TextAreaFor(m => m.DefaultValue, new { @class = "text medium", rows = "5" })
        <span class="hint">@T("Default value for field")</span>
        @Html.ValidationMessageFor(m => m.DefaultValue)
    </div>
</fieldset>