﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <link href="/Modules/Fanatics.CMSTool/img/favicon_16x16.png" rel="icon"></link>
    <title>Fanatics CMS Tool</title>
    <script data-main="/Modules/Fanatics.CMSTool/Scripts/app.js" src="/Modules/Fanatics.CMSTool/Scripts/vendor/require/require.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Modules/Fanatics.CMSTool/Styles/fuelux.min.css">
    <link rel="stylesheet" href="/Modules/Fanatics.CMSTool/Styles/main.css">
    <link rel="stylesheet" href="/Modules/Fanatics.CMSTool/Styles/daterangepicker.css">
    <link rel="stylesheet" href="/Modules/Fanatics.CMSTool/Scripts/vendor/query-builder/query-builder.css">
    <link rel="stylesheet" href="/Modules/Fanatics.CMSTool/Scripts/vendor/bootstrap-select/bootstrap-select.css">
</head>
<body class="fuelux" style="font-size:12px">
    <!-- navbar -->
    <nav class="navbar navbar-default navbar-static-top fanatics-nav">
        <div class="container-fluid">
            <a class="brand" href="/">
                <img src="/Modules/Fanatics.CMSTool/img/logo.png" height="32" alt="fanatics cms tool">
            </a>
            <div id="navbar" class="navbar-collapse collapse">
            </div>
        </div>
    </nav>
    <!-- Main container -->
    <div class="container-fluid">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="/cms">Home</a></li>
            <li class="active">New / Edit Content</li>
        </ol>
        <!-- Content -->
        <div class="row">
            <div class="col-md-4 fuelux"></div>
            <div class="col-md-2 fuelux">
                <button id="btn-save" type="button" class="btn btn-sm btn-primary btn-sm pull-right" style="margin-top:3px;margin-right:15px;" data-loading-text="Saving..."><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save Content</button>
                <a href="/cms/schedules/create" type="button" class="btn btn-sm btn-danger btn-sm pull-right" style="margin-top:3px;margin-right:5px;">Cancel</a> &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 fuelux">
                <!--main content-->
                <div class="form">
                    <!-- content type -->
                    <div class="form-group fuelux">
                        <label for="content-type" style="display:block">Content-Type: </label>
                        <div class="btn-group selectlist" data-resize="auto" id="content-type"></div>
                        <script id="content-type-template" type="text/x-handlebars-template">
                            <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                                <span class="selected-label">&nbsp;</span>
                                <span class="caret"></span>
                                <span class="sr-only">Please Select</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li data-value="" data-selected="true" style="font-size:12px"><a href="#">Please Select</a></li>
                                {{#each contentTypes}}
                                <li data-value="{{DisplayName}}" data-index="{{@@index}}" data-selected="false" style="font-size:12px"><a href="#">{{DisplayName}}</a></li>
                               {{/each}}
                            </ul>
                            <input class="hidden hidden-field" name="content-type" readonly="readonly" aria-hidden="true" type="text" />
                       </script>
                    </div>
                    <!-- info box -->
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        This is an info box for the zone selected.
                    </div>
                    <!-- content options -->
                    <div class="panel panel-default" id="content-options" style="display:none">
                        <div class="panel-heading" style="padding-bottom: 20px;">
                            <h3 class="panel-title" style="display:inline-block;"><b>Content Options</b></h3>
                        </div>
                        <div class="panel-body"></div>
                        <script id="content-options-template" type="text/x-handlebars-template">
                            {{#each fields}}
                            <div class="form-group">
                                <label for="name">{{Name}}: </label>
                                {{#ifvalue Type value="Text"}}
                                <input id="{{Name}}" name="{{Name}}" type="text" class="form-control content-options-field" required>
                                {{/ifvalue}}
                            </div>
                            {{/each}}
                            </script>
                        </div>
                    <!-- display condition -->
                    <div class="panel panel-default">
                        <div class="panel-heading" style="padding-bottom: 20px;">
                            <h3 class="panel-title" style="display:inline-block;"><b>Display Condition</b></h3>
                        </div>
                        <div class="panel-body">
                            <div id="filter"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Le Javascript -->
    <script type="text/javascript">
        var antiForgeryToken = '@Html.AntiForgeryTokenValueOrchard()';
        requirejs(["create-content"]);
    </script>
</body>
</html>
