﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/Modules/WorkflowTool/img/favicon_16x16.png" rel="icon"></link>
    <title>Fanatics Workflow Tool</title>
    <script data-main="/Modules/WorkflowTool/Scripts/app.js" src="/Modules/WorkflowTool/Scripts/vendor/require/require.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Modules/WorkflowTool/Styles/fuelux.min.css">
    <link rel="stylesheet" href="/Modules/WorkflowTool/Styles/main.css">
</head>
<body class="fuelux">
    <!-- navbar -->
    <nav class="navbar navbar-default navbar-static-top fanatics-nav">
        <div class="container-fluid">
            <a class="brand" href="/">
                <img src="/Modules/WorkflowTool/img/logo.png" height="32" alt="fanatics workflow">
            </a>
            <div class="pull-right"><a href="/workflow/help" style="color:#091140">Admin Help</a></div>
            <div id="navbar" class="navbar-collapse collapse">
            </div>
        </div>
    </nav>
    <!-- Main container -->
    <div class="container-fluid">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="/workflow">Home</a></li>
            <li class="active">Campaign Import</li>
        </ol>
        <!-- Content -->
        <div class="row">
            <div class="col-md-6 fuelux">
                <!--main content-->
                <p>Select a valid import file and click the Import button to load campaigns into the Workflow Tool.</p>
                <p><a href="/Media/sample-import.txt" target="_blank">Click here</a> to download an example of a valid import file.</p><br />
                <div class="alert alert-danger" role="alert" id="error" style="display:none"></div>
                @using (Html.BeginFormAntiForgeryPost("ProcessImport", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label for="campaignFile">Campaign File</label>
                        <input type="file" id="file" name="file">
                        <p class="help-block">Only tab delimited files will be processed correctly</p>
                    </div>
                    <button id="btn-import" type="submit" class="btn btn-default" data-loading-text="Processing please wait...">Import</button>
                }
            </div>
            </div>
    </div>
    <!-- Le Javascript -->
    <script type="text/javascript">
        var antiForgeryToken = '@Html.AntiForgeryTokenValueOrchard()';
        requirejs(["import"]);
    </script>
</body>
</html>
