﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <link href="/Modules/Fanatics.CMSTool/img/favicon_16x16.png" rel="icon"></link>
    <title>Fanatics CMS Tool</title>
    <script data-main="/Modules/Fanatics.CMSTool/Scripts/app.js" src="/Modules/Fanatics.CMSTool/Scripts/vendor/require/require.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Modules/Fanatics.CMSTool/Styles/fuelux.min.css">
    <link rel="stylesheet" href="/Modules/Fanatics.CMSTool/Styles/main.css">
    <link rel="stylesheet" href="/Modules/Fanatics.CMSTool/Styles/daterangepicker.css">
    <link rel="stylesheet" href="/Modules/Fanatics.CMSTool/Scripts/vendor/query-builder/query-builder.css">
    <link rel="stylesheet" href="/Modules/Fanatics.CMSTool/Scripts/vendor/bootstrap-select/bootstrap-select.css">
</head>
<body class="fuelux" style="font-size:12px">
    <!-- navbar -->
    <nav class="navbar navbar-default navbar-static-top fanatics-nav">
        <div class="container-fluid">
            <a class="brand" href="/">
                <img src="/Modules/Fanatics.CMSTool/img/logo.png" height="32" alt="fanatics cms tool"></a>
            <div id="navbar" class="navbar-collapse collapse">
            </div>
        </div>
    </nav>
    <!-- Main container -->
    <div class="container-fluid">
        <!-- Content -->
        <div class="row">
            <div class="col-md-12">
                <!--main grid-->
                <button onclick="alert($('#filter').queryBuilder('getAmpscript', false).sql)">Get Ampscript</button>
                <div id="filter"></div>
            </div>
        </div>
    </div>
    <!-- Le Javascript -->
    <script type="text/javascript">
        var antiForgeryToken = '@Html.AntiForgeryTokenValueOrchard()';
        requirejs(["main"]);
    </script>
</body>
</html>
