﻿<div class="row alert">
    <div class="col-md-8" id="step4-audiences">
    </div>
    <script id="step4-audiences-template" type="text/x-handlebars-template">
        <ul class="nav nav-tabs" role="tablist">
            {{#if hasDEAudiences}}
            <li role="presentation" class="active"><a href="#available-audiences" aria-controls="home" role="tab" data-toggle="tab">Available Audiences</a></li>{{/if}}
            {{#if hasPSIDAudiences}}
            <li role="presentation"><a href="#psids" aria-controls="profile" role="tab" data-toggle="tab">Choose PSID's</a></li>{{/if}}
            {{#if hasTeamIDAudiences}}
            <li role="presentation"><a href="#teamids" aria-controls="messages" role="tab" data-toggle="tab">Choose Team ID's</a></li>{{/if}}
            <li role="presentation"><a href="#custom-criteria" aria-controls="settings" role="tab" data-toggle="tab">Custom Criteria</a></li>
            <li role="presentation"><a href="#exclusions" aria-controls="settings" role="tab" data-toggle="tab">Exclusions</a></li>
            {{#if hasSupressions}}
                <li role="presentation"><a href="#supressions" aria-controls="sup" role="tab" data-toggle="tab">Supressions</a></li>
            {{/if}}
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- available audiences -->
            {{#if hasDEAudiences}}
            <div role="tabpanel" class="tab-pane active" id="available-audiences">
                {{#each DEAudiences}}
                <div class="row">
                    <div class="col-md-12">
                        {{#if AudienceGroup}}
                        <h5>{{AudienceGroup}}</h5>
                        {{/if}}
                        <form class="form">
                            <div class="form-group group-audience-de chk-all">
                                <div class="checkbox">
                                    <label class="checkbox-custom" data-initialize="checkbox" style="font-size:12px;">
                                        <input class="sr-only" type="checkbox">
                                        <span class="checkbox-label">Check all</span>
                                    </label>
                                </div>
                            </div>
                            {{#each Items}}
                            <div class="form-group group-audience-de chk-audience">
                                <div class="checkbox" {{#if ../AudienceGroup}} style="padding-left:20px" {{/if}}>
                                    <label class="checkbox-custom" data-initialize="checkbox"  style="font-size:12px;">
                                        <input class="sr-only chk-de" type="checkbox" value="{{Value}}" data-value="{{Value}}" data-name="{{Name}}">
                                        <span class="checkbox-label">{{Name}}</span>
                                    </label>
                                </div>
                            </div>
                            {{/each}}
                        </form>
                    </div>
                </div>
                    {{/each}}
        </div>
            {{/if}}
            <!-- available audiences -->
            <!-- PSIDs -->
            {{#if hasPSIDAudiences}}
            <div role="tabpanel" class="tab-pane" id="psids">
                <div class="row">
                    <div class="col-md-12">
                        {{#everyNth PSIDAudiences 4}}
                        {{#if isModZeroNotFirst}}
                    </div>
                    {{/if}}
                    {{#if isModZero}}
                    <div class="row">
                        {{/if}}
                        <div class="col-md-3">
                            {{#if AudienceGroup}}
                            <h5>{{AudienceGroup}}</h5>
                            {{/if}}
                            <form class="form">
                                <div class="form-group group-audience chk-all">
                                    <div class="checkbox">
                                        <label class="checkbox-custom" data-initialize="checkbox" style="font-size:12px;">
                                            <input class="sr-only" type="checkbox">
                                            <span class="checkbox-label">Check all</span>
                                        </label>
                                    </div>
                                </div>
                                {{#each Items}}
                                <div class="form-group group-audience chk-audience">
                                    <div class="checkbox" {{#if ../AudienceGroup}} style="padding-left:20px" {{/if}}>
                                        <label class="checkbox-custom" data-initialize="checkbox" style="font-size:12px;">
                                            <input class="sr-only chk-psid" type="checkbox" value="{{Value}}" data-value="{{Value}}" data-name="{{Name}}">
                                            <span class="checkbox-label">{{Name}}</span>
                                        </label>
                                    </div>
                                </div>
                                {{/each}}
                            </form>
                        </div>
                        {{#if isLast}}
                    </div>
                    {{/if}}
                    {{/everyNth}}
                </div>
            </div>
                <!-- PSIDs -->
            </div>
            {{/if}}
            <!-- Team Ids -->
            {{#if hasTeamIDAudiences}}
            <div role="tabpanel" class="tab-pane" id="teamids">
                {{#each teamIDAudiences}}
                <div class="row">
                    <div class="col-md-12">
                           {{#if AudienceGroup}}
                            <h5>{{AudienceGroup}}</h5>
                            {{/if}}
                            <form class="form">
                                <div class="form-group group-audience chk-all">
                                    <div class="checkbox">
                                        <label class="checkbox-custom" data-initialize="checkbox" style="font-size:12px;">
                                            <input class="sr-only" type="checkbox">
                                            <span class="checkbox-label">Check all</span>
                                        </label>
                                    </div>
                                </div>
                                {{#each Items}}
                                <div class="form-group group-audience chk-audience">
                                    <div class="checkbox" {{#if ../AudienceGroup}} style="padding-left:20px" {{/if}}>
                                        <label class="checkbox-custom" data-initialize="checkbox" style="font-size:12px;">
                                            <input class="sr-only chk-teamid" type="checkbox" value="{{Value}}" data-value="{{Value}}" data-name="{{Name}}">
                                            <span class="checkbox-label">{{Name}}</span>
                                        </label>
                                    </div>
                                </div>
                                {{/each}}
                            </form>
                        </div>
                </div>
            {{/each}}
            </div>
            {{/if}}
            <!-- Team IDs -->
            <div role="tabpanel" class="tab-pane" id="custom-criteria">
                <div class="row">
                    <div class="col-md-12">
                        <textarea name="custom-criteria-text" id="custom-criteria-text" rows="10" cols="90"></textarea>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="exclusions">
                <div class="row">
                    <div class="col-md-12">
                        <textarea name="exclusions-text" id="exclusions-text" rows="10" cols="90"></textarea>
                    </div>
                </div>
            </div>
        <!-- supressions -->
        {{#if hasSupressions}}
        <div role="tabpanel" class="tab-pane" id="supressions">
            {{#each Supressions}}
            <div class="row">
                <div class="col-md-12">
                    {{#if AudienceGroup}}
                    <h4>{{AudienceGroup}}</h4>
                    {{/if}}
                    <form class="form">
                        <div class="form-group group-audience-de chk-all">
                            <div class="checkbox">
                                <label class="checkbox-custom" data-initialize="checkbox">
                                    <input class="sr-only" type="checkbox">
                                    <span class="checkbox-label">Check all</span>
                                </label>
                            </div>
                        </div>
                        {{#each Items}}
                        <div class="form-group group-audience-de chk-audience">
                            <div class="checkbox" {{#if ../AudienceGroup}} style="padding-left:20px" {{/if}}>
                                <label class="checkbox-custom" data-initialize="checkbox">
                                    <input class="sr-only chk-supression" type="checkbox" value="{{Value}}" data-value="{{Value}}" data-name="{{Name}}">
                                    <span class="checkbox-label">{{Name}}</span>
                                </label>
                            </div>
                        </div>
                        {{/each}}
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}
        <!-- supressions -->
        </div>

    </script>
</div>
