﻿<div class="row alert step2-templates">
</div>
<script id="step2-templates-template" type="text/x-handlebars-template">
{{#each template}}
<div class="col-md-2 col- template">
    <a href="#">
        <div class="thumbnail" data-id="{{ID}}" data-name="{{Name}}" data-value="{{SFMCName}}" data-map="{{MapImage}}" data-index="{{@@index}}">
            <img src="{{Thumbnail}}" alt="{{Name}}">
            <div class="caption">
                <h4>{{Name}}</h4>
               {{{Description}}}
            </div>
        </div>
    </a>
</div>
{{/each}}
</script>
