﻿<div class="row alert">
    <div class="col-md-6">
        <div class="form">
            <!--subject line-->
            <div class="form-group">
                <input id="step4-subject-line" name="step4-subject-line" type="text" placeholder="Subject Line" class="form-control input-sm" spellcheck="true">
            </div>
            <!--subject line-->
            <!--preheader-->
            <div class="form-group">
                <input id="step4-preheader" name="step4-preheader" type="text" placeholder="Preheader" class="form-control input-sm" spellcheck="true">
            </div>
            <!--preheader-->
            <!--preheader URL-->
            <div class="form-group">
                <input id="step4-preheaderURL" name="step4-preheaderURL" type="text" placeholder="Preheader URL" class="form-control input-sm" spellcheck="false">
            </div>
            <!--preheader URL-->
        </div>
    </div>
    <!--toggles-->
    <div class="col-md-1">
        <strong>Available Toggles:</strong>
    </div>
    <div class="col-md-3 toggles" id="step3-toggles"></div>
    <script id="step3-toggles-template" type="text/x-handlebars-template">
        {{#each Toggles}}
        <div class="checkbox" id="toggle1">
            <label class="checkbox-custom" data-initialize="checkbox" style="font-size:12px;">
                <input class="sr-only chk-toggle" type="checkbox" value="{{Name}}" data-value="{{Name}}">
                <span class="checkbox-label">{{Name}}</span>
            </label>
        </div>
        {{/each}}
    </script>
    <!--toggles-->
</div>
<div class="row alert">
    <div class="col-md-7">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        </div>
        <script id="accordion-template" type="text/x-handlebars-template">
            {{#each content}}
            <div class="panel panel-default" style="max-width:857px;">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{id}}" aria-controls="{{id}}">
                    <div class="panel-heading" role="tab" id="heading{{@@index}}" style="background-color:#ccc">
                        <h5 class="panel-title">
                            {{name}}
                        </h5>
                    </div>
                </a>
                <div id="{{id}}" data-name="{{id}}" class="panel-collapse collapse template-spot in" role="tabpanel" aria-labelledby="heading{{@@index}}">
                    <div class="panel-body">
                        <form class="template-form">
                            {{#each field}}
                            <div class="form-group">
                                <label>{{label}}</label>
                                {{#if textarea}}
                                <textarea id="{{id}}" name="{{id}}" class="form-control{{#if required}} required{{/if}} spot-field" rows="5" {{#if maxlength}} maxlength="{{maxlength}}" {{/if}} {{#if required}} required{{/if}}></textarea>
                                {{else}}
                                <input id="{{id}}" name="{{id}}" type="text" class="form-control  input-sm{{#if required}} required{{/if}} spot-field" {{#if maxlength}} maxlength="{{maxlength}}" {{/if}} {{#if required}} required{{/if}}>
                                {{/if}}
                            </div>
                            {{/each}}
                        </form>
                    </div>
                </div>
            </div>
            {{/each}}
        </script>
    </div>
    <div class="col-md-5">
        <img id="step3-template" src="" alt=".." />
    </div>
</div>