﻿<div class="row alert" style="padding-bottom: 3px;">
    <div class="form-inline">
        <!-- Campaign Status -->
        <input type="hidden" id="hid-status" value="Planning" />
        <!-- message type -->
        <div class="form-group fuelux">
            <div class="btn-group selectlist" data-resize="auto" data-initialize="selectlist" id="step1-message-type">
                    <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                    <span class="selected-label">&nbsp;</span>
                    <span class="caret"></span>
                    <span class="sr-only">Email</span>
                </button>
                <ul class="dropdown-menu">
                    <li data-value="Email" data-selected="true" style="font-size:12px"><a href="#">Email</a></li>
                </ul>
                    <input class="hidden hidden-field" name="step1-message-type" readonly="readonly" aria-hidden="true" type="text"/>
            </div>
        </div>
        <!-- message type -->
        <!-- Business Unit -->
        <div class="form-group fuelux">
            <div class="btn-group selectlist bu-dropdown" data-resize="auto" id="step1-bu-dropdown">
            </div>
            <script id="step1-bus-template" type="text/x-handlebars-template">
                    <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                    <span class="selected-label">&nbsp;</span>
                    <span class="caret"></span>
                    <span class="sr-only">Business Unit</span>
                </button>
                <ul class="dropdown-menu">
                    <li data-value="" data-selected="true" style="font-size:12px"><a href="#">Business Unit</a></li>
                        {{#each bu}}
                            <li style="font-size:12px" data-value="{{ID}}" data-name="{{Name}}" data-AssetsDueDateDaysOffset="{{AssetsDueDateDaysOffset}}" data-QAApprovalDateDaysOffset="{{QAApprovalDateDaysOffset}}" data-mid="{{MID}}" data-EmailsFolderId="{{EmailsFolderId}}" data-QuickDeployFolderID="{{QuickDeployFolderID}}" data-UISendsFolderId="{{UISendsFolderId}}" data-isNew="{{IsNew}}"><a href="#">{{Name}}</a></li>
                        {{/each}}
                </ul>
                    <input class="hidden hidden-field" name="step1-bu-dropdown" readonly="readonly" aria-hidden="true" type="text"/>
                </script>
        </div>
        <!-- Business Unit -->
        <!-- deployment date/time -->
        <div class="form-group form-group-deployment">
            <label for="deployment-date">Deployment Date/Time: </label>
            <div class="datepicker fuelux datepicker-step1 deployment-date" id="step1-deployment-date">
                <div class="input-group">
                    <input class="form-control input-sm" type="text" />
                    <div class="input-group-btn datepicker-panel">
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-calendar"></span>
                            <span class="sr-only">Toggle Calendar</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right datepicker-calendar-wrapper" role="menu">
                            <div class="datepicker-calendar">
                                <div class="datepicker-calendar-header">
                                    <button type="button" class="prev"><span class="glyphicon glyphicon-chevron-left"></span><span class="sr-only">Previous Month</span></button>
                                    <button type="button" class="next"><span class="glyphicon glyphicon-chevron-right"></span><span class="sr-only">Next Month</span></button>
                                    <button type="button" class="title">
                                        <span class="month">
                                            <span data-month="0">January</span>
                                            <span data-month="1">February</span>
                                            <span data-month="2">March</span>
                                            <span data-month="3">April</span>
                                            <span data-month="4">May</span>
                                            <span data-month="5">June</span>
                                            <span data-month="6">July</span>
                                            <span data-month="7">August</span>
                                            <span data-month="8">September</span>
                                            <span data-month="9">October</span>
                                            <span data-month="10">November</span>
                                            <span data-month="11">December</span>
                                        </span><span class="year"></span>
                                    </button>
                                </div>
                                <table class="datepicker-calendar-days">
                                    <thead>
                                        <tr>
                                            <th>Su</th>
                                            <th>Mo</th>
                                            <th>Tu</th>
                                            <th>We</th>
                                            <th>Th</th>
                                            <th>Fr</th>
                                            <th>Sa</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="datepicker-wheels" aria-hidden="true">
                                <div class="datepicker-wheels-month">
                                    <h2 class="header">Month</h2>
                                    <ul>
                                        <li data-month="0">
                                            <button type="button">Jan</button></li>
                                        <li data-month="1">
                                            <button type="button">Feb</button></li>
                                        <li data-month="2">
                                            <button type="button">Mar</button></li>
                                        <li data-month="3">
                                            <button type="button">Apr</button></li>
                                        <li data-month="4">
                                            <button type="button">May</button></li>
                                        <li data-month="5">
                                            <button type="button">Jun</button></li>
                                        <li data-month="6">
                                            <button type="button">Jul</button></li>
                                        <li data-month="7">
                                            <button type="button">Aug</button></li>
                                        <li data-month="8">
                                            <button type="button">Sep</button></li>
                                        <li data-month="9">
                                            <button type="button">Oct</button></li>
                                        <li data-month="10">
                                            <button type="button">Nov</button></li>
                                        <li data-month="11">
                                            <button type="button">Dec</button></li>
                                    </ul>
                                </div>
                                <div class="datepicker-wheels-year">
                                    <h2 class="header">Year</h2>
                                    <ul></ul>
                                </div>
                                <div class="datepicker-wheels-footer clearfix">
                                    <button type="button" class="btn datepicker-wheels-back"><span class="glyphicon glyphicon-arrow-left"></span><span class="sr-only">Return to Calendar</span></button>
                                    <button type="button" class="btn datepicker-wheels-select">Select <span class="sr-only">Month and Year</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-append dropdown combobox deployment-time" data-initialize="combobox" id="deployment-time">
                <input type="text" class="form-control input-sm" value="12:00 AM">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right dropdown-menu-time">
                    </ul>
                </div>
            </div>
        </div>
        <!-- deployment date/time -->
        <!-- email name -->
        <div class="form-group">
            <input id="step1-email-name" name="step1-email-name" type="text" placeholder="Email Name" class="form-control email-name input-sm">
        </div>
        <!-- email name -->
        <!-- cname -->
        <div class="form-group">
            <input id="step1-cname" name="step1-cname" type="text" placeholder="CNAME" class="form-control cnamenumber input-sm">
        </div>
        <!-- cname -->
        <!-- cnumber -->
        <div class="form-group">
            <input id="step1-cnumber" name="step1-cnumber" type="text" placeholder="CNUMBER" class="form-control cnamenumber input-sm">
        </div>
        <!-- cnumber -->
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-1">
        <strong>Campaign Owner(s):</strong>
    </div>
    <div class="col-md-2 step1-campaign-owners">
    </div>
    <!-- campaign owners -->
        <script id="step1-campaign-owners-template" type="text/x-handlebars-template">
            {{#each user}}
        <div class="checkbox" id="{{ID}}">
            <label class="checkbox-custom checked {{#if IsCurrent}}disabled{{/if}}" data-initialize="checkbox">
                <input class="sr-only{{#if IsCurrent}} chk-owner{{/if}} chk-user" type="checkbox" value="{{ID}}" data-username="{{UserName}}" data-email="{{UserEmail}}" {{#if IsCurrent}}disabled="disabled"{{/if}} checked="checked" />
                <span class="checkbox-label">{{UserName}}</span>
            </label>
        </div>
            {{/each}}
        </script>
        <!-- campaign owners -->
    <div class="col-md-4">
        <!-- ops owner -->
        <strong>Ops Owner:</strong>
        <div class="btn-group selectlist" data-resize="auto" id="step1-owner"></div>
        <script id="step1-ops-owners-template" type="text/x-handlebars-template">
            <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                <span class="selected-label">&nbsp;</span>
                <span class="caret"></span>
                <span class="sr-only">Ops Owner</span>
            </button>
            <ul class="dropdown-menu">
                <li data-value="" data-selected="true"  style="font-size:12px"><a href="#">Selected by Ops</a></li>
                {{#each user}}
                    <li data-value="{{UserName}}" data-email="{{UserEmail}}" style="font-size:12px"><a href="#">{{UserName}}</a></li>
                {{/each}}
            </ul>
            <input class="hidden hidden-field" name="step1-owner" readonly="readonly" aria-hidden="true" type="text" />
        </script>
            <!-- ops owner -->
</div>
</div>
<hr />
<div class="row">
    <strong class="col-md-1">Email Theme:</strong>
    <div class="col-md-4">
        <!-- email theme -->
        <input id="step1-email-theme" name="step1-email-theme" type="text" placeholder="Email Theme" class="form-control input-sm">
        <!-- email theme -->
    </div>
</div>
<div class="row padding20">
    <strong class="col-md-1">Email Promo:</strong>
    <div class="col-md-4">
        <!-- email theme -->
        <input id="step1-email-promo" name="step1-email-promo" type="text" placeholder="Email Promo" class="form-control input-sm">
        <!-- email theme -->
    </div>
    <div class="col-md-6">
        <!-- start date -->
        <div class="form-inline">
            <div class="form-group form-group-deployment">
                <label for="deployment-date">Start Date: </label>
                <div class="datepicker fuelux datepicker-step1" id="promo-start-date">
                    <div class="input-group">
                        <input class="form-control input-sm" type="text" />
                        <div class="input-group-btn datepicker-panel">
                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-calendar"></span>
                                <span class="sr-only">Toggle Calendar</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right datepicker-calendar-wrapper" role="menu">
                                <div class="datepicker-calendar">
                                    <div class="datepicker-calendar-header">
                                        <button type="button" class="prev"><span class="glyphicon glyphicon-chevron-left"></span><span class="sr-only">Previous Month</span></button>
                                        <button type="button" class="next"><span class="glyphicon glyphicon-chevron-right"></span><span class="sr-only">Next Month</span></button>
                                        <button type="button" class="title">
                                            <span class="month">
                                                <span data-month="0">January</span>
                                                <span data-month="1">February</span>
                                                <span data-month="2">March</span>
                                                <span data-month="3">April</span>
                                                <span data-month="4">May</span>
                                                <span data-month="5">June</span>
                                                <span data-month="6">July</span>
                                                <span data-month="7">August</span>
                                                <span data-month="8">September</span>
                                                <span data-month="9">October</span>
                                                <span data-month="10">November</span>
                                                <span data-month="11">December</span>
                                            </span><span class="year"></span>
                                        </button>
                                    </div>
                                    <table class="datepicker-calendar-days">
                                        <thead>
                                            <tr>
                                                <th>Su</th>
                                                <th>Mo</th>
                                                <th>Tu</th>
                                                <th>We</th>
                                                <th>Th</th>
                                                <th>Fr</th>
                                                <th>Sa</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="datepicker-wheels" aria-hidden="true">
                                    <div class="datepicker-wheels-month">
                                        <h2 class="header">Month</h2>
                                        <ul>
                                            <li data-month="0">
                                                <button type="button">Jan</button></li>
                                            <li data-month="1">
                                                <button type="button">Feb</button></li>
                                            <li data-month="2">
                                                <button type="button">Mar</button></li>
                                            <li data-month="3">
                                                <button type="button">Apr</button></li>
                                            <li data-month="4">
                                                <button type="button">May</button></li>
                                            <li data-month="5">
                                                <button type="button">Jun</button></li>
                                            <li data-month="6">
                                                <button type="button">Jul</button></li>
                                            <li data-month="7">
                                                <button type="button">Aug</button></li>
                                            <li data-month="8">
                                                <button type="button">Sep</button></li>
                                            <li data-month="9">
                                                <button type="button">Oct</button></li>
                                            <li data-month="10">
                                                <button type="button">Nov</button></li>
                                            <li data-month="11">
                                                <button type="button">Dec</button></li>
                                        </ul>
                                    </div>
                                    <div class="datepicker-wheels-year">
                                        <h2 class="header">Year</h2>
                                        <ul></ul>
                                    </div>
                                    <div class="datepicker-wheels-footer clearfix">
                                        <button type="button" class="btn datepicker-wheels-back"><span class="glyphicon glyphicon-arrow-left"></span><span class="sr-only">Return to Calendar</span></button>
                                        <button type="button" class="btn datepicker-wheels-select">Select <span class="sr-only">Month and Year</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- start date -->

            <!-- end date -->

            <div class="form-group form-group-deployment" style="padding-left: 20px;">
                <label for="deployment-date">End Date: </label>
                <div class="datepicker fuelux datepicker-step1" id="promo-end-date">
                    <div class="input-group">
                        <input class="form-control input-sm" type="text" />
                        <div class="input-group-btn datepicker-panel">
                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-calendar"></span>
                                <span class="sr-only">Toggle Calendar</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right datepicker-calendar-wrapper" role="menu">
                                <div class="datepicker-calendar">
                                    <div class="datepicker-calendar-header">
                                        <button type="button" class="prev"><span class="glyphicon glyphicon-chevron-left"></span><span class="sr-only">Previous Month</span></button>
                                        <button type="button" class="next"><span class="glyphicon glyphicon-chevron-right"></span><span class="sr-only">Next Month</span></button>
                                        <button type="button" class="title">
                                            <span class="month">
                                                <span data-month="0">January</span>
                                                <span data-month="1">February</span>
                                                <span data-month="2">March</span>
                                                <span data-month="3">April</span>
                                                <span data-month="4">May</span>
                                                <span data-month="5">June</span>
                                                <span data-month="6">July</span>
                                                <span data-month="7">August</span>
                                                <span data-month="8">September</span>
                                                <span data-month="9">October</span>
                                                <span data-month="10">November</span>
                                                <span data-month="11">December</span>
                                            </span><span class="year"></span>
                                        </button>
                                    </div>
                                    <table class="datepicker-calendar-days">
                                        <thead>
                                            <tr>
                                                <th>Su</th>
                                                <th>Mo</th>
                                                <th>Tu</th>
                                                <th>We</th>
                                                <th>Th</th>
                                                <th>Fr</th>
                                                <th>Sa</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="datepicker-wheels" aria-hidden="true">
                                    <div class="datepicker-wheels-month">
                                        <h2 class="header">Month</h2>
                                        <ul>
                                            <li data-month="0">
                                                <button type="button">Jan</button></li>
                                            <li data-month="1">
                                                <button type="button">Feb</button></li>
                                            <li data-month="2">
                                                <button type="button">Mar</button></li>
                                            <li data-month="3">
                                                <button type="button">Apr</button></li>
                                            <li data-month="4">
                                                <button type="button">May</button></li>
                                            <li data-month="5">
                                                <button type="button">Jun</button></li>
                                            <li data-month="6">
                                                <button type="button">Jul</button></li>
                                            <li data-month="7">
                                                <button type="button">Aug</button></li>
                                            <li data-month="8">
                                                <button type="button">Sep</button></li>
                                            <li data-month="9">
                                                <button type="button">Oct</button></li>
                                            <li data-month="10">
                                                <button type="button">Nov</button></li>
                                            <li data-month="11">
                                                <button type="button">Dec</button></li>
                                        </ul>
                                    </div>
                                    <div class="datepicker-wheels-year">
                                        <h2 class="header">Year</h2>
                                        <ul></ul>
                                    </div>
                                    <div class="datepicker-wheels-footer clearfix">
                                        <button type="button" class="btn datepicker-wheels-back"><span class="glyphicon glyphicon-arrow-left"></span><span class="sr-only">Return to Calendar</span></button>
                                        <button type="button" class="btn datepicker-wheels-select">Select <span class="sr-only">Month and Year</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end date -->
    </div>
</div>
<div class="row padding20">
    <strong class="col-md-1">Promo Code:</strong>
    <div class="col-md-4">
        <!-- promo code -->
        <input id="step1-promo-code" name="step1-promo-code" type="text" placeholder="Promo Code" class="form-control input-sm">
        <!-- promo code -->
    </div>
</div>
<div class="row padding20">
    <strong class="col-md-1">Disclaimer:</strong>
    <div class="col-md-6">
        <!-- disclaimer-->
        <textarea name="step1disclaimer" id="step1disclaimer" rows="3" cols="80">
                                
    </textarea>
        <!-- disclaimer -->
    </div>
</div>
<div class="row padding20">
    <strong class="col-md-1">Job ID(s):</strong>
    <div class="col-md-2">
        <!-- job id -->
        <input id="step1-job-id" name="step1-job-id" type="text" placeholder="Job ID(s)" class="form-control email-name input-sm">
        <span id="helpBlock" class="help-block">Entered by ops.</span>
        <!-- job id -->
    </div>
</div>
<div class="row padding20">
    <strong class="col-md-1">Assets location:</strong>
    <div class="col-md-6">
        <!-- asset location -->
        <textarea id="step1-assets-location" class="form-control" rows="1" cols="40"></textarea>
        <!-- asset location -->
    </div>
</div>
<div class="row padding20">
    <strong class="col-md-1">Additional Notes or Instructions:</strong>
    <div class="col-md-6">
        <!-- additional notes -->
        <textarea name="step1additionalnotes" id="step1additionalnotes" rows="3" cols="80">
                                
    </textarea>
        <!-- additional notes  -->
    </div>
</div>
