﻿<div class="row alert">
    <div class="col-md-6">
        <div class="step6-feedback"></div>
        <hr />
        <strong>Enter feedback your below:</strong>
        <p>
            <textarea name="step6feedback" id="step6feedback" rows="10" cols="80"></textarea>
        </p>
        <button id="btn-feedback" type="button" class="btn btn-sm btn-primary" data-loading-text="Please wait..."><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;Add your feedback</button>
    </div>
</div>
<script id="step6-feedback-template" type="text/x-handlebars-template">
    {{#each Feedback}}
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">On {{formatDateJSON CreatedDate}} {{CreatedBy}} said:</h4>
            {{{Feedback}}}
        </div>
    </div>
    {{/each}}
</script>