﻿<div id="brief"></div>
<script id="brief-template" type="text/x-handlebars-template">
<div class="row">
    <div class="col-md-12">
        <h4>General info</h4>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <p><label>Email Name:</label>&nbsp;{{EmailName}}</p>
        <p><label>CNumber:</label>&nbsp;{{CName}}</p>
        <p><label>CName:</label>&nbsp;{{CNumber}}</p>
        <p><label>Message Type:</label>&nbsp;{{MessageType}}</p>
        <p><label>Business Unit:</label>&nbsp;{{BusinessUnit}}</p>
        <p><label>Deployment Date & Time:</label>&nbsp;{{formatDate DeploymentDate format='MM/DD/YYYY'}}</p>
        <p><label>Subject Line:</label>&nbsp;{{SubjectLine}}</p>
        <p><label>Preheader:</label>&nbsp;{{Preheader}}</p>
        <p><label>PreheaderURL:</label>&nbsp;{{PreheaderURL}}</p>
        <p><label>Email Theme:</label>&nbsp;{{Theme}}</p>
    </div>
    <div class="col-md-7">
        {{#if Toggles.length}}
        <div class="form-inline">
            <div class="form-group" style="vertical-align:top">
                <label>Available Toggles:</label>
            </div>
            <div class="form-group">
                <ul>
                    {{#each Toggles}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        {{/if}}
        {{#if Promos.length}}
        <h4>Promo:</h4>
        <hr />
        {{#each Promos}}
        <p><label>Name:</label>&nbsp;{{PromoName}}</p>
        <p><label>Code:</label>&nbsp;{{PromoCode}}</p>
        <p><label>Start Date:</label>&nbsp;{{formatDate StartDate}}</p>
        <p><label>End Date:</label>&nbsp;{{formatDate EndDate}}</p>
        {{/each}}
        {{/if}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><label>Assets Location:</label>&nbsp;{{AssetsLocation}}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><label>Disclaimer:</label></p>
        <p>{{{Disclaimer}}}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Template Configuration</h4>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    {{#each TemplateConfigurationJson}}
        <h4>{{Section}}</h4>
        {{#each Fields}}
        <h4>{{ContentName}}:</h4>
        <p>{{ContentValue}}</p>
        {{/each}}
    {{/each}}
     </div>
    <div class="col-md-6">
        <img id="step3-template" src="{{TemplateMap}}" alt="{{Template}}">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Targeting Details</h4>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{#if DEAudiences.length}}
        <h4>Audiences:</h4>
        {{#foreach DEAudiences}}
            {{#if $last}}
                {{Name}}
            {{else}}
                {{Name}},
            {{/if}}
        {{/foreach}}
        {{/if}}
        {{#if PSIDAudiences.length}}
        <h4>PSIDs:</h4>
        {{#foreach PSIDAudiences}}
            {{#if $last}}
                {{Name}}
            {{else}}
                {{Name}},
            {{/if}}
        {{/foreach}}
        {{/if}}
        {{#if TeamIDAudiences.length}}
        <h4>Team Ids:</h4>
        {{#foreach TeamIDAudiences}}
            {{#if $last}}
                {{Name}}
            {{else}}
                {{Name}},
            {{/if}}
        {{/foreach}}
        {{/if}}
        <h4>Custom Criteria:</h4>
        <p>{{CustomCriteria}}</p>
        <h4>Exclusions:</h4>
        <p>{{Exclusions}}</p>
        {{#if Supressions.length}}
            <h4>Supressions:</h4>
            {{#foreach Supressions}}
                {{#if $last}}
                    {{Name}}
                {{else}}
                    {{Name}},
                {{/if}}
            {{/foreach}}
        {{/if}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Additional Notes or Instructions</h4>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>{{{Notes}}}</p>
    </div>
</div>
</script>

