﻿@model Fanatics.Email.Model.Campaign
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/Modules/WorkflowTool/img/favicon_16x16.png" rel="icon"></link>
    <title>Fanatics Workflow Tool</title>
    <script data-main="/Modules/WorkflowTool/Scripts/app.js" src="/Modules/WorkflowTool/Scripts/vendor/require/require.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Modules/WorkflowTool/Styles/fuelux.min.css">
    <link rel="stylesheet" href="/Modules/WorkflowTool/Styles/main.css">
</head>
<body class="fuelux">
    <!-- navbar -->
    <nav class="navbar navbar-default navbar-static-top fanatics-nav">
        <div class="container-fluid">
            <a class="brand" href="/">
                <img src="/Modules/WorkflowTool/img/logo.png" height="32" alt="fanatics workflow">
            </a>
            <div class="pull-right"><a href="/workflow/help" style="color:#091140">Admin Help</a></div>
            <div id="navbar" class="navbar-collapse collapse">
            </div>
        </div>
    </nav>
    <!-- Main container -->
    <div class="container-fluid">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li><a href="/workflow">Home</a></li>
          <li class="active">Campaign Brief</li>
        </ol>
        <!-- Content -->
        <div class="row">
            <div class="col-md-12 fuelux">
                <!--main content-->
                @{ Html.RenderPartial("Brief/Brief");}
            </div>
        </div>
    </div>
   
    <!-- Le Javascript -->
    <script type="text/javascript">
        var antiForgeryToken = '@Html.AntiForgeryTokenValueOrchard()';
        var campaignID = '@HttpUtility.JavaScriptStringEncode(Url.RequestContext.RouteData.Values["campaignID"] == null ? "" : Url.RequestContext.RouteData.Values["campaignID"].ToString())';
        var campaign = @Html.Raw(Json.Encode(Model));
        requirejs(["brief"]);
    </script>
    
</body>
</html>
